@import "../../../assets/scss/base/_variables";

// DATE PICKER
.date-picker-wrapper {
  display: flex;
  align-items: center;
  height: 33px;
  background-color: #fff;
  border: 1px solid #a2a2a2;
  border-radius: 3px;
  padding: 0 10px;
  cursor: pointer;
  label {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  // INPUT BOX
  .text-input-box {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    font-size: 14px;
    color: $content-text-black;
    font-weight: 300;
    cursor: pointer;
  }
  // DATE-INPUT
  &.date-input {
    margin-right: 11px;
    width: 107px;
    .date-icon {
      display: flex;
      min-width: 16px;
      min-height: 16px;
      background: url('/assets/i/calender.svg') no-repeat;
      background-size: 16px 16px;
      margin-right: 7px;
    }
  }
}
