<div class="data-input-form-main">

  <!--  DATA INPUT NEW STANDARD  -->
  <div class="data-newstandard-wrapper" *ngIf="activeTab === 1">
    <form (ngSubmit)="onNewStandardSubmit()" #newStandardForm="ngForm">
      <div class="grid-inputfield">
        <div class="col">
          <!-- DATA CONTENT -->
          <div class="data-content">
            <label class="lbl-tilte" l10nTranslate>dataInput.Identifying-No</label>
            <div class="identifying-box">
              <app-textbox
                [(ngModel)]="newStandards.standard.name"
                [value]="newStandards.standard.name"
                ngDefaultControl
                type="text"
                required
                name="firstName"
                placeholder='Enter here'
                [isSearch]=false
                className="data-input-fields"
              ></app-textbox>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte" l10nTranslate>Edition</label>
            <div class="org-box">             
              <app-textbox
                type="text"
                name="edition"
                [(ngModel)]="newStandards.edition"
                [value]="newStandards.edition"
                ngDefaultControl
                required
                placeholder='Enter here'
                [isSearch]=false
                className="data-input-fields"
              ></app-textbox>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte" l10nTranslate>Org</label>
            <div class="org-box">
              <app-textbox
                type="text"
                name="firstName"
                [(ngModel)]="newStandards.standard.organization.name"
                [value]="newStandards.standard.organization.name"
                ngDefaultControl
                required
                placeholder='Enter here'
                [isSearch]=false
                className="data-input-fields"
              ></app-textbox>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte" l10nTranslate>Description</label>
            <div class="desc-box">
              <app-textbox
                type="text"
                name="firstName"
                [(ngModel)]="newStandards.standard.description"
                [value]="newStandards.standard.description"
                ngDefaultControl
                required
                placeholder='Enter here'
                [isSearch]=false
                className="data-input-fields"
              ></app-textbox>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte" l10nTranslate>Critical</label>
            <div class="critical-section">
              <label class="radio-btn-select">
                <input type="radio" [(ngModel)]="newStandards.criticalToBusinessShown"
                ngDefaultControl name="critical-radio" value="YES" checked="checked">
                <span class="radio-select">YES</span>
              </label>
              <label class="radio-btn-select">
                <input type="radio" [(ngModel)]="newStandards.criticalToBusinessShown"
                ngDefaultControl name="critical-radio" value="NO">
                <span class="radio-select">NO</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="data-content">
            <label class="lbl-tilte" l10nTranslate>Div</label>
            <div class="div-box">
              <app-dropdown
                [options]="divisionOptions"
                required
                (optSelect)="onStandardSelect('division.name', $event)"
                [selected]="newStandards.division.name"
                placeholder="{{isEditedMode ? '' : 'Select'}}"
                className="data-input-fields"
              ></app-dropdown>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte" l10nTranslate>SubDiv</label>
            <div class="sub-div-box">
              <app-dropdown
                [options]="subDivisionOptions"
                required
                (optSelect)="onStandardSelect('subDivistion.name', $event)"
                [selected]="newStandards.subDivistion.name"
                placeholder="{{isEditedMode ? '' : 'Select'}}"
                className="data-input-fields"
              ></app-dropdown>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte" l10nTranslate>ProductLine</label>
            <div class="tag-box">
              <tag-input
                [(ngModel)]='productLines'
                required
                (onAdd)="onItemAdded('productLine', $event)"
                (onRemove)="onItemRemoved('productLine', $event)"
                name="productLines"
              ></tag-input>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte" l10nTranslate>Email</label>
            <div class="email-box">
              <tag-input
                [(ngModel)]='emails'
                required
                (onAdd)="onItemAdded('standardParticipant',$event)"
                (onRemove)="onItemRemoved('standardParticipant', $event)"
                name="email"
              ></tag-input>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="data-content">
            <label class="lbl-tilte" l10nTranslate>dataInput.nameOfStandardMail</label>
            <div class="email-box">
              <tag-input
                [(ngModel)]='nameOfStandardMail'
                required
                (onAdd)="onItemAdded('nameOfStandardMail', $event)"
                (onRemove)="onItemRemoved('nameOfStandardMail', $event)"
                name="nameOfStandardMail"
              ></tag-input>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte" l10nTranslate>Comments</label>
            <div class="comd-box">
              <app-textarea
                required
                name="lastName"
                placeholder="Write here"
                className="login-txt"
                [(ngModel)]="newStandards.comment"
                [value]="newStandards.comment"
                ngDefaultControl
                [isSearch]=false
                className="data-input-fields"
              ></app-textarea>
            </div>
          </div>
          <div class="data-btn">
            <a href="javascript:;" class="border-btn" l10nTranslate
              *ngIf="!isEditedMode">
              Cancel
            </a>
            <a [routerLink]="['/keyword-search']" class="border-btn" l10nTranslate
              *ngIf="isEditedMode">
              Cancel
            </a>
            <button [disabled]="!newStandardForm.form.valid" type="submit" class="blue-btn">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!--  DATA INPUT NEW STANDARD END -->

  <!--  CREATE NEW C&S ISSUE  -->
  <div class="create-new-cs-wrapper" *ngIf="activeTab === 2">
    <form (ngSubmit)="onSubmit()" #cnsIssueForm="ngForm">
      <div class="grid-inputfield">
        <div class="col">
          <!-- DATA CONTENT -->
          <div class="data-content">
            <label class="lbl-tilte">Standard Orgaization</label>
            <div class="std-org-box">
              <app-dropdown
                [options]="standardOptions"
                (optSelect)="onSelectCnS('standardId', $event)"
                required
                ngDefaultControl
                name="standardId"
                placeholder="Select Standard Organization"
                className="data-input-fields"
              ></app-dropdown>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte" l10nTranslate>orgPage.Std-Available</label>
            <div class="available-box">
              <app-textbox
                type="text"
                name="firstName"
                [(ngModel)]="newCnSissue.createdBy"
                placeholder='Based on above selection'
                required
                [isSearch]=false
                [value]="''"
                required
                ngDefaultControl
                className="data-input-fields"
              ></app-textbox>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte" l10nTranslate>dataInput.Thor-Division</label>
            <div class="available-box">
              <app-dropdown
                [options]="divisionOptions"
                (optSelect)="onSelectCnS('divisionId', $event)"
                ngDefaultControl
                name="divisionId"
                required
                placeholder="Select Division"
                className="data-input-fields"
              ></app-dropdown>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte" l10nTranslate>dataInput.Description-Initiative</label>
            <div class="desc-text-box">
              <app-textarea
                name="lastName"
                placeholder="Write here"
                className="login-txt"
                required
                [(ngModel)]="newCnSissue.description"
                ngDefaultControl
                [isSearch]=false
                [value]="lastName"
                className="data-input-fields"
              ></app-textarea>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte"l10nTranslate>dataInput.Action-Plan</label>
            <div class="plan-box">
              <app-textarea
                name="lastName"
                [(ngModel)]="newCnSissue.description"
                ngDefaultControl
                placeholder="Write here"
                required
                className="login-txt"
                [isSearch]=false
                className="data-input-fields"
              ></app-textarea>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="data-content">
            <label class="lbl-tilte"l10nTranslate>dataInput.Person-Plan</label>
            <div class="tag-box">
              <tag-input
                [(ngModel)]='personsResponsibles'
                required
                (onAdd)="onItemAdded('personsResponsibles', $event)"
                (onRemove)="onItemRemoved('personsResponsibles', $event)"
                name="Persons Responsible"
              ></tag-input>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte"l10nTranslate>dataInput.Estimated-Action Plan</label>
            <div class="index-box">
              <app-date-picker
                placeholder="DD MM YYYY"
                required
                name="estimatedCompletionDate"
                type="text"
                [isDate]=false
              ></app-date-picker>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte"l10nTranslate>dataInput.Date-reviewed</label>
            <div class="index-box">
              <app-textbox
                [(ngModel)]="newCnSissue.engineerReviewDate"
                type="text"
                name="firstName"
                required
                ngDefaultControl
                placeholder='Enter First Name, Last Name'
                [isSearch]=false
                className="data-input-fields"
              ></app-textbox>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte"l10nTranslate>dataInput.Engineering-Leader-Name</label>
            <div class="index-box">
              <app-textbox
                type="text"
                name="firstName"
                ngDefaultControl
                [(ngModel)]="newCnSissue.engineerLeader"
                required
                placeholder='Enter First Name, Last Name'
                [isSearch]=false
                className="data-input-fields"
              ></app-textbox>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte" l10nTranslate>dataInput.Financial-Impact</label>
            <div class="index-box">
              <app-textbox
                type="text"
                name="firstName"
                ngDefaultControl
                [(ngModel)]="newCnSissue.financialImpact"
                placeholder='Enter here'
                required
                [isSearch]=false
                className="data-input-fields"
              ></app-textbox>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte"l10nTranslate>dataInput.VP/GM Name</label>
            <div class="index-box">
              <app-textbox
                ngDefaultControl
                [(ngModel)]="newCnSissue.vpgmName"
                type="text"
                name="firstName"
                placeholder='Enter Name here'
                required
                [isSearch]=false
                className="data-input-fields"
              ></app-textbox>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte" l10nTranslate>dataInput.leadership-para</label>
            <div class="action-plan-radio">
              <label class="radio-btn-select">
                <input type="radio" name="action-plan-radio" value="YES" checked="checked" [(ngModel)]="newCnSissue.criticalRoleLeadership">
                <span class="radio-select">YES</span>
              </label>
              <label class="radio-btn-select">
                <input type="radio" name="action-plan-radio" value="NO" [(ngModel)]="newCnSissue.criticalRoleLeadership">
                <span class="radio-select">NO</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="data-content">
            <label class="lbl-tilte"l10nTranslate>dataInput.Offensive-or-Defensive</label>
            <div class="offensive-section">
              <label class="radio-btn-select">
                <input type="radio" name="offensive-radio" value="OFFENSIVE" [(ngModel)]="newCnSissue.offensiveDefensive" checked="checked">
                <span class="radio-select"l10nTranslate>dataInput.Offensive</span>
              </label>
              <label class="radio-btn-select">
                <input type="radio" name="offensive-radio" value="DIFFENSIVE" [(ngModel)]="newCnSissue.offensiveDefensive">
                <span class="radio-select"l10nTranslate>dataInput.DIFFENSIVE</span>
              </label>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte"l10nTranslate>dataInput.partners-needed</label>
            <div class="index-box">
              <app-textbox
                required
                type="text"
                ngDefaultControl
                [(ngModel)]="newCnSissue.externalPartners"
                name="firstName"
                placeholder='Enter here'
                [isSearch]=false
                className="data-input-fields"
              ></app-textbox>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte"l10nTranslate>dataInput.Date the C&S Score-para</label>
            <div class="index-box">
              <app-date-picker
                required
                placeholder="DD MM YYYY"
                type="text"
                name="estimatedCompletionDate"
                [isDate]=false
              ></app-date-picker>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte"l10nTranslate>dataInput.C&S Priority number</label>
            <div class="index-box">
              <app-textbox
                ngDefaultControl
                [(ngModel)]="newCnSissue.priority"
                required
                type="text"
                name="firstName"
                placeholder='Enter Number'
                [isSearch]=false
                className="data-input-fields"
              ></app-textbox>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte"l10nTranslate>dataInput.Region or Group</label>
            <div class="std-org-box">
              <app-dropdown
                required
                ngDefaultControl
                name="estimatedCompletionDate"
                [options]="regionOptions"
                (optSelect)="onSelectCnS('region', $event)"
                placeholder="Select"
                className="data-input-fields"
              ></app-dropdown>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte"l10nTranslate>dataInput.Road Map-ques</label>
            <div class="index-box">
              <app-textbox
                ngDefaultControl
                [(ngModel)]="newCnSissue.roadmapAlignment"
                required
                type="text"
                name="firstName"
                placeholder='Enter here'
                [isSearch]=false
                className="data-input-fields"
              ></app-textbox>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte"l10nTranslate>dataInput.Item Type</label>
            <div class="std-org-box">
              <app-dropdown
                required
                ngDefaultControl
                [options]="regionOptions"
                (optSelect)="onSelectCnS('successionPlan', $event)"
                placeholder="Select"
                className="data-input-fields"
                name="estimatedCompletionDate"
              ></app-dropdown>
            </div>
          </div>
          <div class="data-btn">
            <a href="javascript:;" class="border-btn" l10nTranslate>Cancel</a>
            <button [disabled]="!cnsIssueForm.form.valid" class="blue-btn" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!--  CREATE NEW C&S ISSUE END  -->

  <!--  CREATE DIVISION  -->
  <div class="create-division-wrapper" *ngIf="activeTab === 3">
    <form (ngSubmit)="onSubmit()" #divisionForm="ngForm">
      <div class="grid-inputfield">
        <div class="col">
          <!-- DATA CONTENT -->
          <div class="data-content">
            <label class="lbl-tilte">Division Region</label>
            <div class="std-org-box">
              <app-dropdown
                [options]="standardOptions"
                (optSelect)="onSelectCnS('standardId', $event)"
                required
                ngDefaultControl
                name="standardId"
                placeholder="Select Division Region"
                className="data-input-fields"
              ></app-dropdown>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte">Division Name</label>
            <div class="available-box">
              <app-textbox
                type="text"
                name="firstName"
                [(ngModel)]="newCnSissue.createdBy"
                placeholder='Division Name'
                required
                [isSearch]=false
                [value]="''"
                required
                ngDefaultControl
                className="data-input-fields"
              ></app-textbox>
            </div>
          </div>
        </div>
      </div>
      <div class="data-btn">
        <a href="javascript:;" class="border-btn" l10nTranslate>Cancel</a>
        <button [disabled]="!divisionForm.form.valid" class="blue-btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <!--  CREATE DIVISION END  -->

  <!--  CREATE SUB DIVISION  -->
  <div class="create-sub-div-wrapper" *ngIf="activeTab === 4">
    <form (ngSubmit)="onSubmit()" #subDivisionForm="ngForm">
      <div class="grid-inputfield">
        <div class="col">
          <!-- DATA CONTENT -->
          <div class="data-content">
            <label class="lbl-tilte">Parent Division Name</label>
            <div class="std-org-box">
              <app-dropdown
                [options]="standardOptions"
                (optSelect)="onSelectCnS('parentStandardId', $event)"
                required
                ngDefaultControl
                name="parentStandardId"
                placeholder="Parent Division Name"
                className="data-input-fields"
              ></app-dropdown>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte">Division Level Number</label>
            <div class="available-box">
              <app-textbox
                type="text"
                name="levelNumber"
                [(ngModel)]="newCnSissue.divisionLevelNumber"
                placeholder='Division Level Number'
                required
                [isSearch]=false
                [value]="''"
                required
                ngDefaultControl
                className="data-input-fields"
              ></app-textbox>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte">Sub Division Name</label>
            <div class="std-org-box">
              <app-dropdown
                [options]="standardOptions"
                (optSelect)="onSelectCnS('standardId', $event)"
                required
                ngDefaultControl
                name="standardId"
                placeholder="Division Name"
                className="data-input-fields"
              ></app-dropdown>
            </div>
          </div>
          <div class="data-content">
            <label class="lbl-tilte">Sub Division Name</label>
            <div class="available-box">
              <app-textbox
                type="text"
                name="firstName"
                [(ngModel)]="newCnSissue.createdBy"
                placeholder='Sub Division Name'
                required
                [isSearch]=false
                [value]="''"
                required
                ngDefaultControl
                className="data-input-fields"
              ></app-textbox>
            </div>
          </div>
        </div>
      </div>
      <div class="data-btn">
        <a href="javascript:;" class="border-btn" l10nTranslate>Cancel</a>
        <button [disabled]="!subDivisionForm.form.valid" class="blue-btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <!--  CREATE SUB DIVISION END  -->

</div>
