<label class="lbl {{className}}">
  <input type="checkbox" [(ngModel)]="isChecked" [name]="label" [value]="value" (change)="change()" disabled>
  <span class="chk-box"></span>
  <span class="lbl-txt" *ngIf="label">{{label}}</span>
</label>
