@import "../../../assets/scss/base/_variables";

/* CHECKBOX */
.lbl {
  font-size: 14px;
  color: #282828;
  display: flex;
  align-items: center;
  cursor: pointer;
  &.checked {
    font-weight: 600;
  }
  input {
    display: none;
  }
  /* checkbox icon */
  .chk-box {
    display: block;
    min-width: 15px;
    min-height: 15px;
    background: url('/assets/i/checkbox1-uncheck.svg');
    background-size: 15px 15px;
    margin-right: 10px;
  }
  input:checked + .chk-box {
    background: url('/assets/i/checkbox1-check.svg');
    background-size: 15px 15px;
  }
  .lbl-txt {
    margin-top: 1px;
  }

  // SM-CHECKBOX
  &.sm-checkbox {
    .chk-box {
      min-width: 13px;
      min-height: 13px;
      background: url('/assets/i/checkbox2-uncheck.svg');
      background-size: 13px 13px;
      margin-right: 0;
    }
    input:checked + .chk-box {
      background: url('/assets/i/checkbox2-check.svg');
      background-size: 13px 13px;
    }
    .lbl-txt {
      display: none;
    }
  }

  // FORM-CHECKBOX
  &.form-checkbox {
    display: inline-flex;
    .chk-box {
      min-width: 15px;
      min-height: 15px;
      background: url('/assets/i/checkbox3-uncheck.svg');
      background-size: 15px 15px;
      margin-right: 0;
    }
    input:checked + .chk-box {
      background: url('/assets/i/checkbox3-check.svg');
      background-size: 15px 15px;
    }
    .lbl-txt {
      margin-left: 7px;
      font-weight: 400;
    }
    input:checked + .chk-box + .lbl-txt {
      font-weight: 600;
      text-decoration: underline;
    }
  }

  // LOGIN CHECKBOX
  &.login-check {
    input:checked + .chk-box + .lbl-txt {
      font-weight: 400;
      text-decoration: none;
    }
  }

}
