<!-- SEARCH RESULT WRAPPER -->
<div class="search-result-wrapper">
  <!-- SEARCH TABLE TITLE -->
  <div class="search-table-title">
    <div class="search-result-title">
      <h4><span l10nTranslate>userManagement.tableTitle</span> ({{totalRows}})</h4>
      <!-- BLACK SQURE -->
    </div>
    <div class="right-side-btn">
      <app-textbox
        [isSearch]="true"
        name="searchs"
        className="black-search-input-border-bottom"
        type="search"
        [(ngModel)]="searchTxt"
        [value]="searchTxt"
        ngDefaultControl
        placeholder="Search Users"
        (keyUp)="onFilter()"
      ></app-textbox>
      <div class="print-email-btn no-left-boder">
        <!-- PRINT BTN -->
        <a href="javascript:;" class="print-btn" (click)="print()">
          <span class="print-icon"></span>
          <span class="right-btn-txt" l10nTranslate>Printbtn</span>
        </a>
        <!-- EMAIL BTN -->
        <a routerLink="/send-email" class=" email-btn blue-btn">
          <span class="email-icon"></span>
          <span class="right-btn-txt" l10nTranslate>Email</span>
        </a>
        <a href="javascript:;" class="add-btn blue-btn"
          (click)="addRow()">
          <span class="add-icon">+</span>
          <span class="right-btn-txt" >Create New User</span>
        </a>
      </div>
    </div>
  </div>
  <!-- SEARCH TABLE -->
  <div class="main-search-table">
    <div class="search-table">
      <table>
        <!-- THEAD -->
        <thead>
          <tr>
            <th class="th-check">
              <div class="th-chkbox">
                <app-checkbox
                  [isChecked]="isThChk"
                  value="new-full-name"
                  (getChange)="thToggleCheck($event)"
                  className="sm-checkbox"
                ></app-checkbox>
              </div>
            </th>
            <th class="th-username">
              <span l10nTranslate>Username</span>
            </th>
            <th class="th-role">
              <span l10nTranslate>Role</span>
            </th>
            <th class="th-fullname">
              <span l10nTranslate>Name</span>
            </th>
            <th class="th-email">
              <span l10nTranslate>Email Address</span>
            </th>
            <th class="th-action">
              <span l10nTranslate>Actions</span>
            </th>
          </tr>
        </thead>
        <!-- TBODY -->
        <tbody>
          <tr
            *ngFor="let data of datas; let i = index;"
          >
            <td class="td-check">
              <app-checkbox
                [isChecked]="data.isChecked"
                value="new-full-name"
                (getChange)="checkboxs(i, $event)"
              ></app-checkbox>
            </td>
            <td class="td-username">
              <span class="bold-content">{{data.username}}</span>
            </td>
            <td class="td-role">
              <span class="bold-content">{{data.role.name}}</span>
            </td>
            <td class="td-fullname">
              <span class="bold-content">{{data.fullName}}</span>
            </td>
            <td class="td-email">
              <a href="javascript:;" class="email-content">{{data.email}}</a>
            </td>
            <td class="td-action">
              <div class="write-del-icons">
                <a class="write-icon" 
                  (click)="editRow(data.id)">
                </a>
                <span class="delete-icon"
                  (click)="deleteRow(data.id)">
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
