@import "../../../assets/scss/base/_variables";
// SEND-EMAIL-WRAPPER
.send-email-wrapper {
  display: flex;
  flex-direction: column;
  .grid-email-box {
    display: flex;
    .col {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 8px 26px;
      border-left: 1px solid #d7d7d7;
      .form-content {
        margin: 0 0 17px 0;
        .recepients-box {
          height: 83px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        .lbl-tilte {
          font-size: 16px;
          font-weight: 600;
          color: $content-text-black;
          margin: 0 0 6px 0;
          line-height: 20px;
        }
      }
      // DATE-TIME BTN
      .date-time-box {
        display: flex;
      }
      .email-table {
        .tab-txt {
          font-size: 16px;
          font-weight: 600;
          color: $content-text-black;
        }
        // TABLE
        table {
          width: 100%;
          border-bottom: 1px solid #c7c7c7;
          margin: 7px 0 0 0;
          thead {
            background: #268dc8;
            vertical-align: middle;
            tr {
              padding: 0 20px 0 14px;
              th {
                height: 33px;
                vertical-align: middle;
                span {
                  display: flex;
                  align-items:center;
                  font-size: 15px;
                  color: $content-text-white;
                  font-weight: 600;
                }
                &:first-child {
                  padding-left: 10px;
                }
                &.th-index-box {
                  width: 10%;
                }
                &.th-idenfy-box {
                  width: 23%;
                }
                &.th-org-box {
                  width: 24%;
                  padding-right: 10px;
                }
                &.th-id-box {
                  width: 15%;
                }
                &.th-div-box {
                  width: 18%;
                }
                &.th-act-box {
                  width: 12%;
                  text-align: center;
                }
              }
            }
          }
          // TBODY
          tbody {
            tr {
              // BACKGROUND ODD
              &:nth-child(odd) {
                background-color: #fff;
              }
              // BACKGROUND EVEN
              &:nth-child(even) {
                background-color: #f7f7f7;
              }
              // TABLE CONTENT
              td {
                padding: 14px 0;
                font-size: 14px;
                vertical-align: middle;
                color: $content-text-black;
                position: relative;
                ::ng-deep {
                  .dropdown-selected {
                    padding-left: 0;
                    span {
                      overflow: initial;
                      white-space: initial;
                    }
                  }
                }
                &:first-child {
                  padding-left: 10px;
                }
                &.td-index-box,
                &.td-idenfy-box {
                  font-weight: 600;
                }
                &.td-index-box {
                  width: 10%;
                }
                &.td-idenfy-box {
                  width: 23%;
                }
                &.td-org-box {
                  width: 24%;
                  padding-right: 10px;
                  .org-td {
                    display: flex;
                    position: relative;
                    align-items: center;
                    .drow-icon {
                      display: flex;
                      width: 7px;
                      height: 4px;
                      background: url('/assets/i/drop-down-black.svg') no-repeat;
                      background-size: 7px 4px;
                      margin-left: 6px;
                      cursor: pointer;
                    }
                  }
                }
                &.td-id-box {
                  width: 15%;
                }
                &.td-div-box {
                  width: 18%;
                }
                &.td-act-box {
                  width: 12%;
                  text-align: center;
                  .action-icon {
                    display: inline-flex;
                    width: 10px;
                    height: 14px;
                    background: url('/assets/i/del-black.svg') no-repeat;
                    background-size: 10px 14px;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }

      // ADD BTN
      .add-btn {
        display: flex;
        align-items: center;
        padding: 0;
        width: 115px;
        height: 32px;
        line-height: 33px;
        font-size: 14px;
        font-weight: 600;
        margin: 13px 0 0 0;
        border-radius: 3px;
        .plus-icon {
          width: 30px;
          height: 100%;
          background: #1873a7;
          line-height: 32px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          font-size: 25px;
          color: $content-text-white;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          font-weight: 300;
        }
      }

      // CANCEL-SEND-BTN
      .cancel-send-btn {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        align-items: flex-end;
        .border-btn,
        .blue-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 90px;
          padding: 0;
          font-size: 14px;
          font-weight: 600;
          border-radius: 3px;
        }
        .border-btn {
          margin: 0 12px 0 0;
          height: 33px;
          width: 88px;
        }
        .blue-btn {
          height: 35px;
        }
      }
    }
  }
}
