<!-- SEND EMAIL WRAPPER  -->
<div class="send-email-wrapper">
  <div class="grid-email-box">
    <div class="col">
      <div class="form-content">
        <label class="lbl-tilte" l10nTranslate>sendEmail.From</label>
        <div class="from-box">
          <app-textbox
            type="email"
            name="firstName"
            placeholder='shane.watson@thor.com'
            [isSearch]=false
            [value]=""
          ></app-textbox>
        </div>
      </div>
      <div class="form-content">
        <label class="lbl-tilte" l10nTranslate>sendEmail.Recepients</label>
        <div class="recepients-box">
          <tag-input
            [(ngModel)]='emails'
            required
            name="email"
          ></tag-input>
        </div>
      </div>
      <div class="form-content">
        <label class="lbl-tilte">CC/BCC</label>
        <div class="cc-box">
          <app-textbox
            type="email"
            name="firstName"
            placeholder='Enter email ID'
            [isSearch]=false
            [value]="''"
          ></app-textbox>
        </div>
      </div>
      <div class="form-content">
        <label class="lbl-tilte" l10nTranslate>sendEmail.Subject</label>
        <div class="subject-box">
          <app-textbox
            type="text"
            name="firstName"
            placeholder="Type subject here"
            [isSearch]=false
            [value]="''"
          ></app-textbox>
        </div>
      </div>
      <div class="form-content">
        <label class="lbl-tilte"l10nTranslate>Description</label>
        <div class="description-box">
          <quill-editor
            placeholder="Type Description here"
            [modules]="customOptions"
          ></quill-editor>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="email-table">
        <span class="tab-txt">Standards selected</span>
        <!-- TABLE  -->
        <table>
          <thead>
            <tr>
              <th class="th-index-box">
                <span l10nTranslate>Index</span>
              </th>
              <th class="th-idenfy-box">
                <span l10nTranslate>Identifying #</span>
              </th>
              <th class="th-org-box">
                <span l10nTranslate>Org</span>
              </th>
              <th class="th-id-box">
                <span>ID</span>
              </th>
              <th class="th-div-box">
                <span l10nTranslate>Div</span>
              </th>
              <th class="th-act-box">
                <span l10nTranslate>sendEmail.Action</span>
              </th>
            </tr>
          </thead>
          <!-- TBODY  -->
          <tbody>
            <tr *ngFor="let item of standardsSelected;let i = index">
              <td class="td-index-box">
                <span>{{i + 1}}</span>
              </td>
              <td class="td-idenfy-box">
                <span *ngIf="!item['newAdded']">1907/2009/EG</span>
                <app-dropdown
                    *ngIf="item['newAdded']"
                    [options]="stOptions"
                    (optSelect)="onSelect(item, $event)"
                    required
                    placeholder="Select"
                    className="send-email-table-select-auto"
                  ></app-dropdown>
              </td>
              <td class="td-org-box">
                <div class="org-td">
                  <app-dropdown
                    [options]="orgOptions"
                    required
                    placeholder="Select"
                    className="send-email-table-select"
                  ></app-dropdown>
                </div>
              </td>
              <td class="td-id-box">
                <span>{{item['id']}}</span>
              </td>
              <td class="td-div-box">
                <span>{{item['division']}}</span>
              </td>
              <td class="td-act-box">
                <span class="action-icon"
                  (click)="removeItem(i)">
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- CANCEL-SEND-BTN  -->
      <a href="javascript:;" class="add-btn blue-btn" l10nTranslate
        (click)="addItem()">
        <span class="plus-icon">+</span>
        sendEmail.Add-more
      </a>
      <div class="cancel-send-btn">
        <a href="javascript:;" class="border-btn" l10nTranslate>Cancel</a>
        <a href="javascript:;" class="blue-btn" l10nTranslate
          (click)="clickSend()">
          Send
        </a>
      </div>
    </div>
  </div>
</div>
