@import "../../../assets/scss/base/_variables";
// LEFT ASIDE WIDGET
.left-aside-widget {
  width: 55px;
  height: 100vh;
  background: #004898;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  transition: all 0.2s;
  // MENU-LOGO-BAR
  .menu-logo-bar {
    display: flex;
    height: 45px;
    box-shadow: 0px 3px 7px 0 rgba(1, 2, 2, 0.05);
    // MENU ICON
    .menu-bar {
      width: 55px;
      height: 45px;
      background: #0b62c2;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .menu-icon {
        display: flex;
        width: 18px;
        height: 14px;
        background: url('/assets/i/menu-icon.svg') no-repeat;
        background-size: 18px 14px;
        cursor: pointer;
        margin-left: -4px;
      }
    }
    // LOGO
    .logo-bar {
      display: none;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      color: $content-text-white;
      text-align: center;
      background: #0c6ad2;
      width: 142px;
      cursor: default;
    }
  }
  // WELCOME bar
  .welcome-bar {
    display: none;
    border-radius: 10px;
    background-color: rgb(0, 61, 128);
    margin: 17px 12px 15px 9px;
   .welcome-box {
     padding: 16px 22px;
     width: 100%;
   }
    .wel-txt {
      display: flex;
      font-size: 15px;
      font-weight: 600;
      color: $content-text-white;
    }
    .user-txt {
      display: flex;
      font-size: 19px;
      color: $content-text-white;
      line-height: 26px;
      margin: 1px 0;
    }
    .position-txt {
      display: flex;
      font-size: 14px;
      color: #7eabdc;
    }
  }
  // NAVIGATION LIST
  .nav-list{
    margin-top: 12px;
    ul {
      margin: 0 8px;
      li {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          padding: 0;
          line-height: 18px;
          flex: 1;
          opacity: .6;
          &.is-active {
            border-radius: 5px;
            background-color: rgb(12, 106, 210);
            display: flex;
            align-items: center;
            opacity: 1;
          }
          .key-search-icon {
            width: 18px;
            height: 18px;
            background: url('/assets/i/model-keyword-search.svg') no-repeat;
            background-size: 18px 18px;
          }
          .org-search-icon {
            width: 18px;
            height: 18px;
            background: url('/assets/i/standard-org-search.svg') no-repeat;
            background-size: 18px 18px;
          }
          .data-input-icon {
            width: 16px;
            height: 14px;
            background: url('/assets/i/data-input.svg') no-repeat;
            background-size: 16px 14px;
          }
          .cs-issue-icon {
            width: 16px;
            height: 15px;
            background: url('/assets/i/c&s-issuse.svg') no-repeat;
            background-size: 16px 15px;
          }
          .management-icon {
            width: 18px;
            height: 18px;
            background: url('/assets/i/user-managment.svg') no-repeat;
            background-size: 18px 18px;
          }
          .request-icon {
            width: 17px;
            height: 17px;
            background: url('/assets/i/question-mark.svg') no-repeat;
            background-size: 17px 17px;
          }
          .nav-txt {
            display: none;
            font-size: 14px;
            color: $content-text-white;
            font-weight: 600;
            padding: 0 0 0 0;
          }
        }
      }
    }
  }

  &.is-open {
    width: 183px;
    .menu-logo-bar {
      .menu-bar {
        .menu-icon {
          margin-left: 0px;
        }
      }
      .logo-bar {
        display: flex;
      }
    }
    .welcome-bar {
      display: flex;
    }
    .nav-list {
      ul {
        li {
          a {
            padding: 10px 7px 10px 19px;
            width: auto;
            height: auto;
            justify-content: flex-start;
            align-items: flex-start;
            span:first-child{
              margin-right: 6px;
            }
            .key-search-icon {
              display: flex;
              width: 18px;
              height: 18px;
              background: url('/assets/i/model-keyword-search.svg') no-repeat;
              background-size: 18px 18px;
              position: relative;
              top: 0px;
            }
            .org-search-icon {
              display: flex;
              width: 18px;
              height: 18px;
              background: url('/assets/i/standard-org-search.svg') no-repeat;
              background-size: 16px 18px;
              position: relative;
              top: 0px;
            }
            .data-input-icon {
              display: flex;
              width: 16px;
              height: 14px;
              background: url('/assets/i/data-input.svg') no-repeat;
              background-size: 16px 14px;
              position: relative;
              top: 0px;
            }
            .cs-issue-icon {
              display: flex;
              width: 16px;
              height: 15px;
              background: url('/assets/i/c&s-issuse.svg') no-repeat;
              background-size: 16px 15px;
              position: relative;
              top: 0px;
            }
            .management-icon {
              display: flex;
              width: 18px;
              height: 18px;
              background: url('/assets/i/user-managment.svg') no-repeat;
              background-size: 18px 18px;
              position: relative;
              top: 0px;
            }
            .request-icon {
              display: flex;
              width: 17px;
              height: 17px;
              background: url('/assets/i/change-request.svg') no-repeat;
              background-size: 17px 17px;
              position: relative;
              top: 0px;
            }
            .nav-txt {
              display: flex;
            }
          }
        }
      }
    }
  }
}
