// FONTS 
@font-face {
	font-family: 'Titillium';
	src: url('/assets/fonts/Titillium-thin/Titillium-Thin.eot');
	src: local('☺'), url('/assets/fonts/Titillium-thin/Titillium-Thin.woff') format('woff'), url('/assets/fonts/Titillium-thin/Titillium-Thin.ttf') format('truetype'), url('/assets/fonts/Titillium-thin/Titillium-Thin.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Titillium';
	src: url('/assets/fonts/Titillium-light/Titillium-Light.eot');
	src: local('☺'), url('/assets/fonts/Titillium-light/Titillium-Light.woff') format('woff'), url('/assets/fonts/Titillium-light/Titillium-Light.ttf') format('truetype'), url('/assets/fonts/Titillium-light/Titillium-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Titillium';
	src: url('/assets/fonts/Titillium-regular/Titillium-Regular.eot');
	src: local('☺'), url('/assets/fonts/Titillium-regular/Titillium-Regular.woff') format('woff'), url('/assets/fonts/Titillium-regular/Titillium-Regular.ttf') format('truetype'), url('/assets/fonts/Titillium-regular/Titillium-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Titillium';
	src: url('/assets/fonts/Titillium-semibold/Titillium-Semibold.eot');
	src: local('☺'), url('/assets/fonts/Titillium-semibold/Titillium-Semibold.woff') format('woff'), url('/assets/fonts/Titillium-semibold/Titillium-Semibold.ttf') format('truetype'), url('/assets/fonts/Titillium-semibold/Titillium-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Titillium';
	src: url('/assets/fonts/Titillium-bold/Titillium-Bold.eot');
	src: local('☺'), url('/assets/fonts/Titillium-bold/Titillium-Bold.woff') format('woff'), url('/assets/fonts/Titillium-bold/Titillium-Bold.ttf') format('truetype'), url('/assets/fonts/Titillium-bold/Titillium-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Titillium-black';
	src: url('/assets/fonts/Titillium-black/Titillium-Black.eot');
	src: local('☺'), url('/assets/fonts/Titillium-black/Titillium-Black.woff') format('woff'), url('/assets/fonts/Titillium-black/Titillium-Black.ttf') format('truetype'), url('/assets/fonts/Titillium-black/Titillium-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
