// FONTS
$Titillium   :   'Titillium', sans-serif;

// THEME
$body_bg: #ffffff;

//BUTTONS
$border-btn: #268dc8;
$blue-btn: #268dc8;
$blue-lt-btn: #00a8ff;

// TEXT-COLORS
$content-text-black: #282828;
$content-text-white: #ffffff;
$link-text-blue: #268dc8;
