<!-- DATA INPUT PAGE -->

<!-- LEFT-NAVIGATION -->
<app-left-navigation [isOffcanvas]="isOffcanvas"></app-left-navigation>

<div class="page-container data-input-page" [class.is-offcanvas]="isOffcanvas['value']">

  <!-- HEADER -->
  <div class="header-wrapper">
    <app-header
      l10n-title title="dataInput.title"
      pageType="data-input">
    </app-header>
  </div>

  <!-- MAIN -->
  <main class="main-content">
    <div class="data-input-wrapper">
      <app-navigation-tab (toggleNav)="toggleForm($event)"></app-navigation-tab>
      <app-data-input-forms [activeTab]=activeTab></app-data-input-forms>
    </div>
  </main>

  <!-- FOOTER -->
  <app-footer></app-footer>

</div>
<!-- DATA INPUT PAGE END -->
