<!-- STANDARD-AVAILABLE-DETAIL -->
<div class="standard-available-detail">

  <!-- STD-AVAIL-HEADER -->
  <div class="std-avail-header">
    <h2 class="std-avail-title1">{{activeStandard['name']}}</h2>
    <h2 class="std-avail-title2">{{activeStandard['description']}} (EC)</h2>
    <div class="detail-content">
      <span class="detail-head" l10nTranslate>orgPage.Divisions-Standard:</span>
      <p class="details-content-txt" l10nTranslate>
        orgPage.div-std-para
      </p>
    </div>
  </div>

  <!-- STD-AVAIL-HEADER -->
  <div class="std-avail-items-wrapper">
    <ngx-masonry [options]="{ initLayout: true, transitionDuration: '0.0s' }">
      <ngxMasonryItem class="masonry-item" *ngFor="let box of activeStandard['divisionsData']['boxList']">
        <div class="inner-content">
          <span class="widget-title">
            <p>{{box.title}}</p>
            <span class="count" *ngIf="box.checkedNumber !== 0">({{box.checkedNumber}})</span>
          </span>
          <div class="checkbox-container">
            <div class="chk-group" *ngFor="let checkbox of box['checkboxList']">
              <app-checkbox
                label="{{checkbox.checkLabel}}"
                [isChecked]="checkbox.checked"
                className="form-checkbox"
                (getChange)="checkNumber(checkbox, box, $event)"
              ></app-checkbox>
              <span class="checked-count-content" *ngIf="checkbox.checkNumber !== 0">{{checkbox.checkNumber}}</span>
            </div>
          </div>
        </div>
      </ngxMasonryItem>
    </ngx-masonry>
  </div>

</div>
<!-- STANDARD-AVAILABLE-DETAIL END -->
