@import "../../../assets/scss/base/_variables";
// STANDARD-AVAILABLE-DETAIL
.standard-available-detail {

  // STD-AVAIL-HEADER
  .std-avail-header {
    .std-avail-title1 {
      font-size: 39px;
      color: $content-text-black;
      font-weight: 600;
      text-transform: uppercase;
      margin-left: -5px;
    }
    .std-avail-title2 {
      font-size: 19px;
      color: $content-text-black;
      padding: 4px 0 19px 0;
    }
    .detail-content {
      .detail-head {
        font-size: 20px;
        color: $content-text-black;
        padding-bottom: 5px;
        display: block;
      }
      .details-content-txt {
        font-size: 15px;
        line-height: 18px;
        color: $content-text-black;
      }
    }
  }

  // MASONRY-ITEM
  .std-avail-items-wrapper {
    margin: 20px 0 0 0;
    .masonry-item {
      width: 50%;
      .inner-content {
        padding: 15px 20px 0 20px;
        background-color: #ffffff;
        box-shadow: 0px 3px 7px 0 rgba(1, 2, 2, 0.05);
        margin-bottom: 20px;
        margin-right: 20px;
        .widget-title {
          display: flex;
          font-size: 15px;
          font-weight: 700;
          margin-bottom: 14px;
          p {
            margin-right: 2px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .checkbox-container {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          .chk-group {
            width: 50%;
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            .checked-count-content {
              display: flex;
              min-width: 18px;
              height: 19px;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              font-weight: 600;
              border-radius: 3px;
              background-color: #f0f0f0;
              margin: -1px 24px 0 0;
            }
          }
        }
      }
    }
  }

}
