@import "../../../assets/scss/base/_variables";
:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
// MODEL BOX
.model-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.31;
  z-index: 1000;
  top: 0;
  left: 0;
}
.model-box {
  position: relative;
  top: 50px;
  z-index: 1001;
  &.width367 {
    width: 367px;
    .model-title,
    .model-body {
      width: 100%;
    }
  }
  // MODEL-TITLE
  .model-title {
    width: 278px;
    height: 41px;
    background: rgb(38, 141, 200);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    .model-icon {
      display: flex;
      width: 16px;
      height: 16px;
      margin: 0 0 0 15px;
      &.print-icon {
        background: url('/assets/i/confirmation.svg') no-repeat;
        background-size: 16px 16px;
      }
      &.email-icon {
        background: url('/assets/i/active-email.svg') center center no-repeat;
        background-size: 10px 8px;
        margin-right: -4px;
      }
      &.plus-icon {
        color: $body_bg;
        font-size: 15px;
        font-weight: 500;
        background-size: 8px 8px;
        margin-right: -7px;
        text-align: center;
      }
    }
    .model-txt {
      font-size: 16px;
      font-weight: 600;
      color: $content-text-white;
      padding: 0 0 0 9px;
    }
  }
  // MODEL-BODY
  .model-body {
    width: 278px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 25px 0 30px 0;
    p {
      font-size: 15px;
      font-weight: 600;
      color: $content-text-black;
      padding: 0 30px 30px 30px;
      &.pb15 {
        padding-bottom: 15px;
      }
    }
    .red {
      color: #fb1f2f;
      padding-bottom: 20px;
    }
    .blue {
      color: #1a618a;
      padding-bottom: 40px;
    }
    // EMAIL LIST
    .email-list {
      padding-bottom: 10px;
      line-height: 15px;
      li {
        text-indent: 30px;
        margin-bottom: 10px;
      }
      .links {
        color: #1a618a;
        text-decoration: underline;
        margin-bottom: 5px;
      }
    }
    // FORM BOXS
    .form-boxs {
      .row-line {
        padding: 0 23px 18px 23px;
      }
      label {
        color: $content-text-black;
        font-size: 14px;
        margin-bottom: 8px;
        font-weight: 600;
      }
    }
    // MODEL-BTN
    .model-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      .blue-btn,
      .border-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 104px;
        height: 31px;
        padding: 0;
        font-size: 14px;
        font-weight: 600;
        line-height: 31px;
        &.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }
      .border-btn {
        margin: 0 0 0 8px;
        height: 29px;
        line-height: 29px;
      }
    }
  }
}
