<!-- Model box -->
<div class="model-bg"></div>
<div class="model-box" *ngIf="modalType === 'print'">
  <!-- MODEL-TITLE -->
  <div class="model-title">
    <span class="model-icon print-icon"></span>
    <span class="model-txt">Confirmation</span>
  </div>
  <!-- MODEL BODY -->
  <div class="model-body">
    <p>Are you sure you would like to print the Search Results?</p>
    <!-- MODEL BTN  -->
    <div class="model-btn">
      <a href="javascript:;" class="blue-btn" (click)="cancel()">Print</a>
      <a href="javascript:;" class="border-btn" (click)="cancel()">Cancel</a>
    </div>
  </div>
</div>
<div class="model-box" *ngIf="modalType === 'delete-row'">
  <!-- MODEL-TITLE -->
  <div class="model-title">
    <span class="model-icon"></span>
    <span class="model-txt">Confirmation</span>
  </div>
  <!-- MODEL BODY -->
  <div class="model-body">
    <p>Are you sure you would like to delete the row?</p>
    <!-- MODEL BTN  -->
    <div class="model-btn">
      <a href="javascript:;" class="blue-btn" (click)="cancel()">Confirm</a>
      <a href="javascript:;" class="border-btn" (click)="cancel()">Cancel</a>
    </div>
  </div>
</div>
<div class="model-box" *ngIf="modalType === 'email-success'">
  <!-- MODEL-TITLE -->
  <div class="model-title">
    <span class="model-icon email-icon"></span>
    <span class="model-txt">Send Email Success!</span>
  </div>
  <!-- MODEL BODY -->
  <div class="model-body">
    <p class="pb15">Your email has been sent to these following recipients: </p>
    <!-- EMAIL LIST -->
    <div class="email-list">
      <ul>
        <li *ngFor="let item of emailList;let i = index">
          <a href="mailto:{{item}}" class="links">{{item}}</a>
        </li>
      </ul>
    </div>
    <!-- MODEL BTN  -->
    <div class="model-btn">
      <a href="javascript:;" class="blue-btn" (click)="cancel()">Close</a>
    </div>
  </div>
</div>
<div class="model-box" *ngIf="modalType === 'email-failed'">
  <!-- MODEL-TITLE -->
  <div class="model-title">
    <span class="model-icon email-icon"></span>
    <span class="model-txt">Send Email Failed!</span>
  </div>
  <!-- MODEL BODY -->
  <div class="model-body">
    <p class="red">Oops your email cannot be sent</p>
    <p class="blue">Description issues displayed here</p>
    <!-- MODEL BTN  -->
    <div class="model-btn">
      <a href="javascript:;" class="blue-btn" (click)="cancel()">Close</a>
    </div>
  </div>
</div>
<div class="model-box width367" *ngIf="modalType === 'create-new-user'">
  <!-- MODEL-TITLE -->
  <div class="model-title">
    <span class="model-icon plus-icon">+</span>
    <span class="model-txt" l10nTranslate>Create New User</span>
  </div>
  <!-- MODEL BODY -->
  <div class="model-body">
    <!-- FORM BOXS -->
    <form class="form-boxs" #newUserForm="ngForm">
      <!-- ROW LINE -->
      <div class="row-line">
        <label l10nTranslate>Username</label>
        <app-textbox
          type="text"
          name="username"
          [isSearch]="false"
          [(ngModel)]="rowData.username"
          [value]="rowData.username"
          placeholder=''
          ngDefaultControl
        ></app-textbox>
      </div>
      <!-- ROW LINE -->
      <div class="row-line">
        <label l10nTranslate>Password</label>
        <app-textbox
          type="Password"
          name="password"
          [isSearch]="false"
          [(ngModel)]="rowData.password"
          [value]="rowData.password"
          required
          placeholder=''
          ngDefaultControl
        ></app-textbox>
      </div>
      <!-- ROW LINE -->
      <div class="row-line">
        <label l10nTranslate>Role</label>
        <app-dropdown
          [options]="roleOptions"
          (optSelect)="onSelectRole($event)"
          [selected]="rowData.role.name"
          placeholder="Select"
          className="data-input-fields"
        ></app-dropdown>
      </div>
      <!-- ROW LINE -->
      <div class="row-line">
        <label l10nTranslate>Email Address</label>
        <app-textbox
          type="email"
          name="emails"
          [(ngModel)]="rowData.email"
          [value]="rowData.email"
          required
          placeholder=''
          ngDefaultControl
        ></app-textbox>
      </div>
    </form>
    <!-- MODEL BTN  -->
    <div class="model-btn">
      <a href="javascript:;" [ngClass]="{'disabled': !newUserForm.form.valid || rowData.role.name === undefined}" class="blue-btn" (click)="addUser()">Submit</a>
      <a href="javascript:;" class="border-btn" (click)="cancel()">Cancel</a>
    </div>
  </div>
</div>
<div class="model-box width367" *ngIf="modalType === 'edit-user'">
  <!-- MODEL-TITLE -->
  <div class="model-title">
    <span class="model-icon plus-icon">+</span>
    <span class="model-txt" l10nTranslate>Edit User</span>
  </div>
  <!-- MODEL BODY -->
  <div class="model-body">
    <!-- FORM BOXS -->
    <form class="form-boxs" #editUserForm="ngForm">
      <!-- ROW LINE -->
      <div class="row-line">
        <label l10nTranslate>Username</label>
        <app-textbox
          type="text"
          name="username"
          [isSearch]="false"
          [(ngModel)]="rowData.username"
          [value]="rowData.username"
          required
          placeholder=''
          ngDefaultControl
        ></app-textbox>
      </div>
      <!-- ROW LINE -->
      <div class="row-line">
        <label l10nTranslate>Password</label>
        <app-textbox
          type="Password"
          name="password"
          [isSearch]="false"
          [(ngModel)]="rowData.password"
          [value]="rowData.password"
          required
          placeholder=''
          ngDefaultControl
        ></app-textbox>
      </div>
      <!-- ROW LINE -->
      <div class="row-line">
        <label l10nTranslate>Role</label>
        <app-dropdown
          [options]="roleOptions"
          (optSelect)="onSelectRole($event)"
          [selected]="rowData.role.name"
          placeholder=''
          className="data-input-fields"
        ></app-dropdown>
      </div>
      <!-- ROW LINE -->
      <div class="row-line">
        <label l10nTranslate>Email Address</label>
        <app-textbox
          type="email"
          name="emails"
          [(ngModel)]="rowData.email"
          [value]="rowData.email"
          required
          placeholder=''
          ngDefaultControl
        ></app-textbox>
      </div>
    </form>
    <!-- MODEL BTN  -->
    <div class="model-btn">
      <a href="javascript:;"  [ngClass]="{'disabled': !editUserForm.form.valid}" class="blue-btn" (click)="updateUser()">Update</a>
      <a href="javascript:;" class="border-btn" (click)="cancel()">Cancel</a>
    </div>
  </div>
</div>
<div class="model-box" *ngIf="modalType === 'delete-user-row'">
  <!-- MODEL-TITLE -->
  <div class="model-title">
    <span class="model-icon"></span>
    <span class="model-txt">Confirmation</span>
  </div>
  <!-- MODEL BODY -->
  <div class="model-body">
    <p>Are you sure you would like to delete the row?</p>
    <!-- MODEL BTN  -->
    <div class="model-btn">
      <a href="javascript:;" class="blue-btn" (click)="confirmDeleteUser()">Confirm</a>
      <a href="javascript:;" class="border-btn" (click)="cancel()">Cancel</a>
    </div>
  </div>
</div>
