<!-- HEADER ORG SEARCH -->
<div class="header-org-search">
  <div class="header-org-left add-more-std">
    <nav class="selected-list-nav">
      <ul>
        <ng-container *ngFor="let tab of tabs; let i = index">
          <li [class.is-active]="i===activeTab" (click)="changeTab(i)">
            <span class="selected-list-txt">{{tab.name}}</span>
            <span class="close-icon" (click)="removeTab(i)"></span>
          </li>
        </ng-container>
      </ul>
    </nav>
    <a href="javascript:;" class="add-std-btn blue-btn"
      (click)="addTab()"
    >
      <span class="plus-icon">+</span>
      Add Standard
    </a>
  </div>
  <a routerLink="/send-email" class="blue-btn send-email-btn">
    <span class="icon"></span>
    Send Email (<span class="mail-count">{{tabs.length}}</span> Standards)
  </a>
</div>
<!-- HEADER ORG SEARCH END -->
