<!-- C S ISSUE DETAIL PAGE -->

<!-- LEFT-NAVIGATION -->
<app-left-navigation [isOffcanvas]="isOffcanvas"></app-left-navigation>

<div class="page-container c-s-issue-detail-page" [class.is-offcanvas]="isOffcanvas['value']">

  <!-- HEADER -->
  <div class="header-wrapper">
    <app-header
      l10n-title title="csIssueDetail.title"
      pageType="c-s-issue-detail">
    </app-header>
  </div>

  <!-- MAIN -->
  <main class="main-content">
    <div class="c-s-issue-detail-wrapper">
      <div class="top-area">
        <div class="thumbnail">
          <ul>
            <li>
              <a [routerLink]="['/c-s-issues']" class="current links">
                <span l10nTranslate>C&S Issues</span> > 
              </a>
            </li>
            <li><a href="javascript:;" class="links" l10nTranslate>Issue Details</a></li>
          </ul>
        </div>
        <!-- thumbnail -->
        <div class="right-side-btn">
          <div class="print-email-btn">
            <!-- PRINT BTN -->
            <a href="javascript:;" class="print-btn" (click)="print()">
              <span class="print-icon"></span>
              <span class="right-btn-txt" l10nTranslate>Printbtn</span>
            </a>
            <!-- EMAIL BTN -->
            <a routerLink="/send-email" class=" email-btn blue-btn">
              <span class="email-icon"></span>
              <span class="right-btn-txt" l10nTranslate>Email</span>
            </a>
          </div>
        </div>
        <!-- RIGHT SIDE BTN -->
      </div>
      <!-- TOP　AREA -->
      <div class="row">
        <div class="col">
          <div class="status-box boxs {{'color-' + issueDetail['priority']}}">
            <div class="label-txt" l10nTranslate>Priority</div>
            <div class="red-txt"
              *ngIf="issueDetail['priority'] === 1" l10nTranslate>
              High Priority
            </div>
            <div class="orange-txt"
              *ngIf="issueDetail['priority'] === 2" l10nTranslate>
              Medium Priority
            </div>
            <div class="green-txt"
              *ngIf="issueDetail['priority'] === 3" l10nTranslate>
              Low Priority
            </div>
          </div>
        </div>
        <!-- COL -->
        <div class="col">
          <div class=" boxs">
            <div class="label-txt" l10nTranslate>Created By</div>
            <div class="value-txt">{{issueDetail['createdBy']}}</div>
          </div>
        </div>
        <!-- COL -->
        <div class="col">
          <div class=" boxs" *ngIf="issueDetail.division !== undefined">
            <div class="label-txt" l10nTranslate>Thor Division</div>
            <div class="value-txt">{{issueDetail['division']['name']}}</div>
          </div>
        </div>
        <!-- COL -->
        <div class="col">
          <div class=" boxs">
            <div class="label-txt" l10nTranslate>Est Completion Date</div>
            <div class="value-txt">{{issueDetail['estimatedCompletionDate']}}</div>
          </div>
        </div>
        <!-- COL -->
        <div class="col">
          <div class="boxs">
            <div class="label-txt" l10nTranslate>Created on</div>
            <div class="value-txt">{{issueDetail['createdDate']}}</div>
          </div>
        </div>
        <!-- COL -->
        <div class="col">
          <div class="boxs">
            <div class="label-txt">VP/GM</div>
            <div class="value-txt">{{issueDetail['vpgmName']}}</div>
          </div>
        </div>
        <!-- COL -->
      </div>
      <!-- ROW -->

      <app-c-s-issues-detail-panel
        [datas]="issueDetail">
      </app-c-s-issues-detail-panel>
    </div>
  </main>

  <!-- FOOTER -->
  <app-footer></app-footer>

</div>
<app-model
  (close)="isOpenModal=$event"
  *ngIf="isOpenModal"
  [modalType]="modalType"></app-model>
<!-- DATA INPUT PAGE END -->
