// C S ISSUES PAGE
:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// C-S-ISSUES-PAGE
.c-s-issues-wrapper {
  padding: 15px 20px 0 20px;
}

// PAGINATION-WRAPPER
.pagination-wrapper {
  padding: 25px 30px 15px 0;
}
// HEADER FILTERS STYLES
.header-filter-area {
  display: flex;
  flex-direction: column;
  margin: 15px 0 15px 0;
  padding-bottom: 30px;
  padding-left: 19px;
  box-shadow: 0px 3px 7px 0 rgba(1, 2, 2, 0.05);
  .main-lbl {
    font-size: 15px;
    color: #282828;
    margin-bottom: 9px;
  }
  .filter-grid-box {
    display: flex;
    margin: 0 -9px;
    .col {
      margin: 0 9px;
      &.quick-search-filter {
        width: 340px;    
      }
      &.divisions-filter,
      &.sub-divisions-filter {
        width: 230px;
      }
      .filter-content {
        label {
          font-size: 14px;
          font-weight: 600;
          color: #282828;
          margin-bottom: 5px;
        }
      }
    }
  }
}
