<!-- C S ISSUES PAGE -->

<!-- LEFT-NAVIGATION -->
<app-left-navigation [isOffcanvas]="isOffcanvas"></app-left-navigation>

<div class="page-container c-s-issues-page" [class.is-offcanvas]="isOffcanvas['value']">

  <!-- HEADER -->
  <div class="header-wrapper">
    <app-header
      l10n-title title="csIssues.title"
      pageType="c-s-issues">
    </app-header>
    <!-- HEADER FILTERS -->
    <div class="header-filter-area">
      <div class="filter-grid-box">
        <!-- STAND-ID-FILTER -->
        <div class="col quick-search-filter">
          <div class="filter-content">
            <label l10nTranslate>Quick Search</label>
            <div class="fields">
              <app-textbox
                [isSearch]="true"
                name="searchs"
                className="black-search-input"
                type="search"
                [(ngModel)]="searchTxt"
                [value]="searchTxt"
                ngDefaultControl
                placeholder="Search Individual"
                (keyUp)="getQueryResult()"
              ></app-textbox>
            </div>
          </div>
        </div>

        <!-- DIVISIONS -->
        <div class="col divisions-filter">
          <div class="filter-content">
            <label l10nTranslate>Group</label>
            <div class="fields">
              <app-dropdown
                [options]="regionOptions"
                (optSelect)="onSelect('regionSelected', $event)"
                [selected]="Any"
              ></app-dropdown>
            </div>
          </div>
        </div>

        <!-- SUB DIVISIONS -->
        <div class="col sub-divisions-filter">
          <div class="filter-content">
            <label l10nTranslate>Division</label>
            <div class="fields">
              <app-dropdown
                [options]="divsionOptions"
                (optSelect)="onSelect('divsionSelected', $event)"
                [selected]="Any"
              ></app-dropdown>
            </div>
          </div>
        </div>

        <!-- PRODUCT LINE -->
      </div>
    </div>
  </div>
  <!-- MAIN -->
  <main class="main-content">
    <div class="c-s-issues-wrapper">
      <app-c-s-issues-table
        [topDatas]="topResults"
        [datas]="results"
        (printing)="isOpenModal=$event;modalType='print'"
        [showReadAll]="showReadAll"
        (reload)="getResults()"
        [totalRows]="totalRows"
      ></app-c-s-issues-table>
      <div class="pagination-wrapper">
        <app-pagination
          [totalPages]="totalPages"
          [activePage]="activePage"
          (goto)="setPage($event)"
          [showReadAll]="showReadAll"
          (readAll)="readAll($event)"
          *ngIf="!isSearching"
        ></app-pagination>
      </div>
    </div>
  </main>

  <!-- FOOTER -->
  <app-footer></app-footer>

</div>
<app-model
  (close)="isOpenModal=$event"
  *ngIf="isOpenModal"
  [modalType]="modalType"></app-model>
<!-- KEYWORD SEARCH PAGE END -->
