@import "../../../assets/scss/base/_variables";
// HEADER SEARCH
.header-search-widget {
  .search-bar {
    .search-txt {
      font-size: 15px;
      font-weight: 600;
      color: $content-text-black;
      padding: 0 0 8px 0;
      span {
        font-weight: 300;
      }
    }
    // INPUT WRAPPER
    .search-input-wrapper {
      display: flex;
      justify-content: space-between;
      margin: 8px 0 0 0;
      .search-input-box {
        width: 100%;
      }
      // SEARCH BUTTON
      .btn-group {
        display: flex;
        margin: 0 0 0 17px;
        .blue-btn,
        .border-btn {
          border-radius: 3px;
          width: 80px;
          padding: 10px 0 6px 0;
          font-size: 14px;
          font-weight: 600;
        }
        .border-btn {
          margin: 0 0 0 8px;
          padding: 10px 0 6px 0;
        }
      }
    }
  }
}

// HEADER FILTERS STYLES
.header-filter-area {
  display: flex;
  flex-direction: column;
  margin: 14px 0 0 0;
  .main-lbl {
    font-size: 15px;
    color: $content-text-black;
    margin-bottom: 9px;
  }
  .filter-grid-box {
    display: flex;
    margin: 0 -9px;
    .col {
      width: 14.28%;
      margin: 0 9px;
      .filter-content {
        label {
          font-size: 14px;
          font-weight: 600;
          color: $content-text-black;
          margin-bottom: 5px;
        }
      }
    }
  }
}
