<div class="move-boxs">
	<div class="left-area" [sortablejs]="" [sortablejsOptions]="optionsModule">
    <div class="col">
	    <div class="move-items" [ngClass]="{'open': !descriptionHide}">
	      <div class="title-bar">
	        <h4 l10nTranslate>Description of the C&S Issue or Initiative</h4>
	        <div class="right-tool">
	          <a href="javascript:;" class="move-icon"></a>
	          <a href="javascript:;" class="status-icon"
	            (click)="descriptionHide = !descriptionHide">
	          </a>
	        </div>
	      </div>
	      <!-- TITLE BAR -->
	      <div class="move-body">
	        <p>
	          {{datas['description']}}
	        </p>
	      </div>
	      <!-- MOVE BODY -->
	    </div>
	    <!-- MOVE ITEMS -->
	  </div>
	  <!-- COL -->  	
	  <div class="col">
	    <div class="move-items" [ngClass]="{'open': !actionPlanHide}">
	      <div class="title-bar">
	        <h4 l10nTranslate>Action Plan</h4>
	        <div class="right-tool">
	          <a href="javascript:;" class="move-icon"></a>
	          <a href="javascript:;" class="status-icon"
	            (click)="actionPlanHide = !actionPlanHide">
	          </a>
	        </div>
	      </div>
	      <!-- TITLE BAR -->
	      <div class="move-body">
	        <p>
	          {{datas['actionPlan']}}
	        </p>
	      </div>
	      <!-- MOVE BODY -->
	    </div>
	    <!-- MOVE ITEMS -->
	  </div>
	  <!-- COL -->
	  <div class="col">
	    <div class="move-items" [ngClass]="{'open': !impactSummaryHide}">
	      <div class="title-bar">
	        <h4 l10nTranslate>Summary 'explanation' of the impact</h4>
	        <div class="right-tool">
	          <a href="javascript:;" class="move-icon"></a>
	          <a href="javascript:;" class="status-icon"
	            (click)="impactSummaryHide = !impactSummaryHide">
	          </a>
	        </div>
	      </div>
	      <!-- TITLE BAR -->
	      <div class="move-body">
	        <p>
	          {{datas['impactSummary']}}
	        </p>
	      </div>
	      <!-- MOVE BODY -->
	    </div>
	    <!-- MOVE ITEMS -->
	  </div>
	  <!-- COL -->
	  <div class="col">
	    <div class="move-items" [ngClass]="{'open': !successionPlanHide}">
	      <div class="title-bar">
	        <h4 l10nTranslate>Description of Succession Plan for Critical roles</h4>
	        <div class="right-tool">
	          <a href="javascript:;" class="move-icon"></a>
	          <a href="javascript:;" class="status-icon"
	            (click)="successionPlanHide = !successionPlanHide">
	          </a>
	        </div>
	      </div>
	      <!-- TITLE BAR -->
	      <div class="move-body">
	        <p>
	          {{datas['successionPlan']}}
	        </p>
	      </div>
	      <!-- MOVE BODY -->
	    </div>
	    <!-- MOVE ITEMS -->
	  </div>
	  <!-- COL -->
	  <div class="col">
	    <div class="move-items" [ngClass]="{'open': !externalPartnersHide}">
	      <div class="title-bar">
	        <h4 l10nTranslate>List any 'external' partners that are needed to complete the Action Plan</h4>
	        <div class="right-tool">
	          <a href="javascript:;" class="move-icon"></a>
	          <a href="javascript:;" class="status-icon"
	            (click)="externalPartnersHide = !externalPartnersHide">
	          </a>
	        </div>
	      </div>
	      <!-- TITLE BAR -->
	      <div class="move-body">
	        <p>
	          {{datas['externalPartners']}}
	        </p>
	      </div>
	      <!-- MOVE BODY -->
	    </div>
	    <!-- MOVE ITEMS -->
	  </div>
	  <!-- COL -->
	</div>
	<!--LEFT AREA-->
	<div class="right-area" [sortablejs]="" [sortablejsOptions]="optionsModule">
		<div class="col">
	    <div class="move-items" [ngClass]="{'open': !financialImpactHide}">
	      <div class="title-bar">
	        <h4 l10nTranslate>dataInput.Financial-Impact</h4>
	        <div class="right-tool">
	          <a href="javascript:;" class="move-icon"></a>
	          <a href="javascript:;" class="status-icon"
	            (click)="financialImpactHide = !financialImpactHide">
	          </a>
	        </div>
	      </div>
	      <!-- TITLE BAR -->
	      <div class="move-body">
	        <p>
	          {{datas['financialImpact']}}
	        </p>
	      </div>
	      <!-- MOVE BODY -->
	    </div>
	    <!-- MOVE ITEMS -->
	  </div>
	  <!-- COL -->
	  
	  <div class="col">
	    <div class="move-items" [ngClass]="{'open': !offensiveDefensiveHide}">
	      <div class="title-bar">
	        <h4 l10nTranslate>Action Plan Offensive or Defensive?</h4>
	        <div class="right-tool">
	          <a href="javascript:;" class="move-icon"></a>
	          <a href="javascript:;" class="status-icon"
	            (click)="offensiveDefensiveHide = !offensiveDefensiveHide">
	          </a>
	        </div>
	      </div>
	      <!-- TITLE BAR -->
	      <div class="move-body">
	        <p class="fz20">
	          {{datas['offensiveDefensive']}}
	        </p>
	      </div>
	      <!-- MOVE BODY -->
	    </div>
	    <!-- MOVE ITEMS -->
	  </div>
	  <!-- COL -->
	  
	  <div class="col">
	    <div class="move-items" [ngClass]="{'open': !itemTypeHide}">
	      <div class="title-bar">
	        <h4 l10nTranslate>dataInput.Item Type</h4>
	        <div class="right-tool">
	          <a href="javascript:;" class="move-icon"></a>
	          <a href="javascript:;" class="status-icon"
	            (click)="itemTypeHide = !itemTypeHide">
	          </a>
	        </div>
	      </div>
	      <!-- TITLE BAR -->
	      <div class="move-body">
	        <p>
	          {{datas['itemType']}}
	        </p>
	      </div>
	      <!-- MOVE BODY -->
	    </div>
	    <!-- MOVE ITEMS -->
	  </div>
	  <!-- COL -->
	  
	  <div class="col">
	    <div class="move-items" [ngClass]="{'open': !createdDateHide}">
	      <div class="title-bar">
	        <h4 l10nTranslate>Date the C&S Score Card </h4>
	        <div class="right-tool">
	          <a href="javascript:;" class="move-icon"></a>
	          <a href="javascript:;" class="status-icon"
	            (click)="createdDateHide = !createdDateHide">
	          </a>
	        </div>
	      </div>
	      <!-- TITLE BAR -->
	      <div class="move-body">
	        <p class="fz20">{{datas['createdDate']}}</p>
	      </div>
	      <!-- MOVE BODY -->
	    </div>
	    <!-- MOVE ITEMS -->
	  </div>
	  <!-- COL -->
	  
	  <div class="col">
	    <div class="move-items" [ngClass]="{'open': !strategicPlanHide}">
	      <div class="title-bar">
	        <h4 l10nTranslate>Alignment with Strategic Plan </h4>
	        <div class="right-tool">
	          <a href="javascript:;" class="move-icon"></a>
	          <a href="javascript:;" class="status-icon"
	            (click)="strategicPlanHide = !strategicPlanHide">
	          </a>
	        </div>
	      </div>
	      <!-- TITLE BAR -->
	      <div class="move-body">
	        <a href="javascript:;" class="blue-link" >
	          {{datas['strategicPlan']}}
	        </a>
	      </div>
	      <!-- MOVE BODY -->
	    </div>
	    <!-- MOVE ITEMS -->
	  </div>
	  <!-- COL -->
	</div>
  <!--RIGHT AREA-->
</div>
<!-- MOVE BOXS -->