@import "../../../assets/scss/base/_variables";

// MOVE BOXS
.move-boxs {
  padding-top: 30px;
  display: flex;
  margin: 0 -7px;
  flex-wrap:wrap;
  justify-content: space-between;
  .left-area {
    flex: 0 0 65%;
  }
  .right-area {
    flex: 0 0 35%;
  }
  .col {
    float: left;
    margin-bottom: 13px;
    width: 100%;
    &:nth-child(even) {

    }
    &:nth-child(odd) {

    }
  }
  // move-items
  .move-items {
    margin: 0 7px;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: $body_bg;
    position: relative;
    &:before {
      content: '';
      width: 5px;
      background-color: $link-text-blue;
      display: block;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    &.open {
      .move-body {
        display: block;
      }
      .title-bar {
        .right-tool {
          .status-icon {
            background: #f5f5f5 url(/assets/i/minu.svg) center center no-repeat;
            background-size: 11px auto;
          }
        }
      }
    }
    // title-bar
    .title-bar {
      padding-left: 25px;
      padding-right: 10px;
      min-height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        font-size: 16px;
        color: $content-text-black;
        font-weight: 600;
      }
      .right-tool {
        display: flex;
        align-items: center;
        .move-icon {
          background: url(/assets/i/move.svg) center center no-repeat;
          width: 17px;
          height: 17px;
          background-size: 17px auto;
          display: flex;
          vertical-align: middle;
        }
        .status-icon {
          background: #f5f5f5 url(/assets/i/blue-add.svg) center center no-repeat;
          background-size: 12px auto;
          display: flex;
          justify-content: center;
          width: 25px;
          height: 25px;
          border-radius: 5px;
          margin-left: 16px;
        }
      }
    }
    // move-body
    .move-body {
      border-top: 1px solid #dfdfdf;
      padding: 15px 20px 15px 25px;
      display: none;
      font-size: 16px;
      font-weight: 300;
      color: $content-text-black;
      p {
        line-height: 22px;
      }
      .fz20 {
        font-size: 20px;
      }
      .blue-link {
        font-size: 20px;
        color: $link-text-blue;
        font-weight: 600;
      }
    }
  }
}
