<!-- TEXTBOX -->
<div class="textbox-wrapper {{className}} ">
  <span class="search-icon" *ngIf="isSearch"></span>
  <input
    [type]="type"
    [name]="name"
    class="text-input-box"
    [placeholder]="placeholder"
    (keyup)="onKey($event)"
    [(ngModel)]="value"
  >
</div>
<!-- TEXTBOX END -->
