<!-- SEARCH RESULT WRAPPER -->
<div class="search-result-wrapper">
  <!-- SEARCH TABLE TITLE -->
  <div class="search-table-title">
    <div class="search-result-title">
      <h4><span l10nTranslate>changeRequests.tableTitle</span> ({{totalRows}})</h4>
      <!-- BLACK SQURE -->
    </div>
    <div class="right-side-btn">
      <app-textbox
        [isSearch]="true"
        name="searchs"
        className="black-search-input-border-bottom"
        type="search"
        [(ngModel)]="searchTxt"
        [value]="searchTxt"
        ngDefaultControl
        placeholder="Search Change Requests"
        (keyUp)="onFilter()"
      ></app-textbox>
      <div class="print-email-btn no-left-boder">
        <!-- PRINT BTN -->
        <a href="javascript:;" class="print-btn" (click)="print()">
          <span class="print-icon"></span>
          <span class="right-btn-txt" l10nTranslate>Printbtn</span>
        </a>
        <!-- EMAIL BTN -->
        <a routerLink="/send-email" class=" email-btn blue-btn">
          <span class="email-icon"></span>
          <span class="right-btn-txt" l10nTranslate>Email</span>
        </a>
      </div>
    </div>
  </div>
  <!-- SEARCH TABLE -->
  <div class="main-search-table">
    <div class="search-table">
      <table>
        <!-- THEAD -->
        <thead>
          <tr>
            <th class="th-check">
              <div class="th-chkbox">
                <app-checkbox
                  [isChecked]="isThChk"
                  value="new-full-name"
                  (getChange)="thToggleCheck($event)"
                  className="sm-checkbox"
                ></app-checkbox>
              </div>
            </th>
            <th class="th-change-request-id">
              <span l10nTranslate>Change Request ID</span>
            </th>
            <th class="th-requested-by">
              <span l10nTranslate>Requested by</span>
            </th>
            <th class="th-email">
              <span l10nTranslate>Contact Info</span>
            </th>
            <th class="th-standard-identifying">
              <span l10nTranslate>Identifying #</span>
            </th>
            <th class="th-organization">
              <span l10nTranslate>Organization</span>
            </th>
            <th class="th-change-request-details">
              <span l10nTranslate>Change Request Details</span>
            </th>
            <th class="th-action">
              <span l10nTranslate>Actions</span>
            </th>
          </tr>
        </thead>
        <!-- TBODY -->
        <tbody>
          <tr
            *ngFor="let data of datas; let i = index;"
          >
            <td class="td-check">
              <app-checkbox
                [isChecked]="data.isChecked"
                value="new-full-name"
                (getChange)="checkboxs(i, $event)"
              ></app-checkbox>
            </td>
            <td class="td-change-request-id">
              <span class="bold-content">#{{data.id}}</span>
            </td>
            <td class="td-requested-by">
              <span class="idenfy-content">{{data.requestedByUserId.fullName}}</span>
            </td>
            <td class="td-email">
              <a href="javascript:;" class="email-content">{{data.requestedByUserId.email}}</a>
            </td>
            <td class="td-standard-identifying">
              <p class="desc-content">{{data.standard.name}}</p>
            </td>
            <td class="td-organization">
              <span class="bold-content">{{data.standard.organizationId.name}}</span>
            </td>
            <td class="td-change-request-details">
              <span class="div-content">{{data.standard.description}}</span>
            </td>
            <td class="td-action">
              <div class="write-del-icons">               
                <div class="hover-boxs">
                	<span class="green-btn "></span>
                	<span class="up-div" l10nTranslate>
                		Approve
                	</span>
                </div>
                <div class="hover-boxs reject-hover">
                	<span class="red-btn "></span>
                	<span class="up-div" l10nTranslate>
                		Reject
                	</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
