@import "../../../assets/scss/base/_variables";
// PAGINATON
.pagination-wrapper {
  display: flex;
  position: relative;
  justify-content: flex-end;
  app-checkbox {
    position: absolute;
    left: 10px;
    top: -1px;
    align-self: flex-start;
  }
  .pagination-box {
    display: flex;
    .page-item {
      display: flex;
      align-items: center;
      padding: 0 8px 0 0;
      &:first-child {
        padding-right: 14px;
      }
      &:last-child {
        padding-left: 6px;
        padding-right: 0;
      }
      // ARROW-ICON
      .left-arrow-icon {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid rgb(38, 141, 200);
        &.disabled {
          cursor: default;
          border-right-color: #868686;
        }
      }
      .right-arrow-icon {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid rgb(38, 141, 200);
        &.disabled {
          pointer-events: none;
          cursor: default;
          border-left-color: #868686;
        }
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 15px;
        color: #868686;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        &.is-active {
          display: flex;
          background-color: rgb(38, 141, 200);
          color: $content-text-white;
        }
      }
    }
  }
}
