<!-- PAGINATION -->
<div class="pagination-wrapper">
  <app-checkbox
    l10nTranslate
    label = "Read All"
    [isChecked]="showReadAll['checked']"
    *ngIf="showReadAll['shown']"
    (getChange)="readAllCheck($event)"
  ></app-checkbox>
  <ul class="pagination-box">
    <li class="page-item">
      <a class="left-arrow-icon"  (click)="onPrev()" [class.disabled]="activePage['pageIndex']===1" href="javascript:;"></a>
    </li>
    <li class="page-item" *ngFor="let number of numbers; let i = index"
      (click)="onGoto(i)">
      <a class="page-link" [class.is-active]="number===activePage['pageIndex']" href="javascript:;">{{number}}</a>
    </li>
    <li class="page-item">
      <a class="right-arrow-icon" (click)="onNext()" [class.disabled]="activePage['pageIndex']===totalPages" href="javascript:;"></a>
    </li>
  </ul>
</div>
