<!-- KEYWORD SEARCH PAGE -->

<!-- LEFT-NAVIGATION -->
<app-left-navigation [isOffcanvas]="isOffcanvas"></app-left-navigation>

<div class="page-container keyword-search-page" [class.is-offcanvas]="isOffcanvas['value']">

  <!-- HEADER -->
  <div class="header-wrapper">
    <app-header
      l10n-title title="keyWord.title"
      pageType="keyword-search"
      (getFilter)="getQueryResult($event)"
    >
    </app-header>
  </div>
  <!-- MAIN -->
  <main class="main-content" [class.is-mail-open]="isMail >= 0">
    <div class="keyword-search-wrapper">
      <app-search-results-table
        [datas]="results"
        (printing)="isOpenModal=$event;modalType='print'"
        (deleting)="isOpenModal=$event;modalType='delete-row'"
        (mailOpen)="isMail=$event"
        [totalRows]="totalRows"
      ></app-search-results-table>
      <div class="pagination-wrapper">
        <app-pagination
          [totalPages]="totalPages"
          [activePage]="activePage"
          (goto)="setPage($event)"
          *ngIf="!isSearching"
        ></app-pagination>
      </div>
    </div>
  </main>

  <!-- FOOTER -->
  <app-footer></app-footer>

</div>
<app-model
  (close)="isOpenModal=$event"
  *ngIf="isOpenModal"
  [modalType]="modalType"></app-model>
<!-- KEYWORD SEARCH PAGE END -->
