// KEYWORD SEARCH PAGE
:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// KEYWORD-SEARCH-WRAPPER
.keyword-search-wrapper {
  padding: 15px 20px 0 20px;
}

// PAGINATION-WRAPPER
.pagination-wrapper {
  padding: 25px 30px 15px 0;
}
