<!-- SEARCH RESULT WRAPPER -->
<div class="search-result-wrapper">
  <!-- SEARCH TABLE TITLE -->
  <div class="search-table-title">
    <div class="search-result-title">
      <h4><span l10nTranslate>keyWord.searchResult</span> ({{totalRows}})</h4>
      <!-- BLACK SQURE -->
    </div>
    <div class="right-side-btn">
      <div class="print-email-btn">
        <!-- PRINT BTN -->
        <a href="javascript:;" class="print-btn" (click)="print()">
          <span class="print-icon"></span>
          <span class="right-btn-txt" l10nTranslate>Printbtn</span>
        </a>
        <!-- EMAIL BTN -->
        <a routerLink="/send-email" class=" email-btn blue-btn">
          <span class="email-icon"></span>
          <span class="right-btn-txt" l10nTranslate>Email</span>
        </a>
      </div>
    </div>
  </div>
  <!-- SEARCH TABLE -->
  <div class="main-search-table">
    <div class="search-table">
      <table>
        <!-- THEAD -->
        <thead>
          <tr>
            <th class="th-check">
              <div class="th-chkbox">
                <app-checkbox
                  [isChecked]="isThChk"
                  value="new-full-name"
                  (getChange)="thToggleCheck($event)"
                  className="sm-checkbox"
                ></app-checkbox>
              </div>
            </th>
            <th class="th-index">
              <span l10nTranslate>Index</span>
            </th>
            <th class="th-idenfy">
              <span l10nTranslate>Identifying #</span>
            </th>
            <th class="th-org">
              <span l10nTranslate>Org</span>
            </th>
            <th class="th-desc">
              <span l10nTranslate>Description</span>
            </th>
            <th class="th-id">
              <span>ID</span>
            </th>
            <th class="th-div">
              <span l10nTranslate>Div</span>
            </th>
            <th class="th-sub-div">
              <span l10nTranslate>SubDiv</span>
            </th>
            <th class="th-prod">
              <span l10nTranslate>ProductLine</span>
            </th>
            <th class="th-email">
              <span l10nTranslate>Email Address</span>
            </th>
            <th class="th-criticl">
              <span l10nTranslate>Critical</span>
            </th>
            <th class="th-comment">
              <span l10nTranslate>Comments</span>
            </th>
            <th class="th-action" *ngIf="isLoggedIn">
              <span l10nTranslate>Actions</span>
            </th>
          </tr>
        </thead>
        <!-- TBODY -->
        <tbody>
          <tr
            *ngFor="let data of datas; let i = index;"
          >
            <td class="td-check">
              <app-checkbox
                [isChecked]="data.isChecked"
                value="new-full-name"
                (getChange)="checkboxs(i, $event)"
              ></app-checkbox>
            </td>
            <td class="td-index">
              <span class="index-content">{{data.id}}</span>
            </td>
            <td class="td-idenfy">
              <span class="idenfy-content">{{data.standard.name}}</span>
            </td>
            <td class="td-org">
              <span class="org-content">{{data.standard.organization.name}}</span>
            </td>
            <td class="td-desc">
              <p class="desc-content">{{data.standard.description}}</p>
            </td>
            <td class="td-id">
              <span class="id-content">{{data.division.id}}</span>
            </td>
            <td class="td-div">
              <span class="div-content">{{data.division.name}}</span>
            </td>
            <td class="td-sub-div">
              <span class="sub-div-content">{{data.subDivistion.name}}</span>
            </td>
            <td class="td-prod">
              <p class="prod-content"
                *ngFor="let item of data.productLine">
                {{item.name}}
              </p>
            </td>
            <td class="td-email">
              <a href="javascript:;" class="email-content">{{data.standardParticipant[0]}}</a>
              <a href="javascript:;"
                class="email-content more-email"
                (click)="openMore(i, $event)"
              >+{{data.standardParticipant.length - 1}} more</a>
              <!-- EMAIL TOOLTIP -->
              <div class="email-tooltip-widget"
                [class.is-open]="activeIndex===i"
                (click)="$event.stopPropagation()"
                >
                <div class="email-tooltip-box">
                  <div class="email-title">
                    <h4>All Email Addresses</h4>
                    <span class="close-icon" (click)="closeMore(-1, $event)"></span>
                  </div>
                  <div class="div-content">
                    <span class="div-txt">Division : <span>EXD</span></span>
                  </div>
                  <div class="email-box-content">
                    <a href="javascript:;" *ngFor="let mailList of data.standardParticipant | slice:1">
                      <span>{{mailList}} </span>
                    </a>
                  </div>
                </div>
              </div>
              <!-- EMAIL TOOLTIP END -->
            </td>
            <td class="td-criticl">
              <span class="criticl-content" [class.no-txt]="!data.criticalToBusiness">
                <ng-container *ngIf="data.criticalToBusiness">
                  YES
                </ng-container>
                <ng-container *ngIf="!data.criticalToBusiness">
                  NO
                </ng-container>
              </span>
            </td>
            <td class="td-comment">
              <p class="comment-content">{{data.comment}}</p>
            </td>
            <td class="td-action" *ngIf="isLoggedIn">
              <div class="write-del-icons">
                <a class="write-icon" 
                  [routerLink]="['/keyword-search/edit-standard/' + data.id]">
                </a>
                <span class="delete-icon"
                  (click)="deleteRow()">
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
