@import "../../../assets/scss/base/_variables";

// TEXTAREA STYLES
.textarea-wrapper {
  border: 1px solid #a2a2a2;
  border-radius: 3px;
  height: 101px;
  padding: 11px 10px;
  // TEXTAREA
  .textarea {
    width: 100%;
    border: none;
    outline: none;
    height: 100%;
    resize: none;
    padding: 0;
    font-size: 14px;
    color: $content-text-black;
    font-family: 'Titillium';
  }

}
