<!-- RECENT STANDARDS LIST  -->
<div class="standards-list-wrapper">
  <div class="standards-list-section">
    <h3 class="no-std-title" l10nTranslate>orgPage.No-Std-Selected</h3>
    <p class="no-std-content" l10nTranslate>orgPage.no-std-select-para</p>
  </div>
  <div class="recent-list">
    <h4 class="recent-title" l10nTranslate>orgPage.Recent</h4>
    <nav class="select-std-nav">
      <ul>
        <li>
          <a href="javascript:;">EU 1907/2009/EG - REACH - Regulation (EC) </a>
        </li>
        <li>
          <a href="javascript:;">EU 1907/2009/EG - Electromagnetic Compatibility</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
