<!-- EDIT STANDARD PAGE -->

<!-- LEFT-NAVIGATION -->
<app-left-navigation [isOffcanvas]="isOffcanvas"></app-left-navigation>

<div class="page-container edit-standard-page" [class.is-offcanvas]="isOffcanvas['value']">

  <!-- HEADER -->
  <div class="header-wrapper">
    <app-header
      l10n-title title="editStandard.title"
      pageType="edit-standard">
    </app-header>
  </div>

  <!-- MAIN -->
  <main class="main-content">
    <div class="edit-standard-wrapper">
      <div class="thumbnail">
          <ul>
            <li><a [routerLink]="['/keyword-search']" class="current links">Keyword Search > </a></li>
            <li><span class="links">{{standardTitle}} > </span></li>
            <li><span class="links">Edit Standard</span></li>
          </ul>
        </div>
      <app-data-input-forms [activeTab]=activeTab></app-data-input-forms>
    </div>
  </main>

  <!-- FOOTER -->
  <app-footer></app-footer>

</div>
<!-- DATA INPUT PAGE END -->
