<!-- NAVIGATION TAB  -->
<div class="navigation-tab">
  <nav class="nav-tab">
    <ul>
      <li (click)="toggleMenu(1)" [ngClass]="{'is-active': activeTab==1}" >
        Create New Standard
      </li>
      <li (click)="toggleMenu(2)" [ngClass]="{'is-active': activeTab==2}">
        Create NewC&S Issue
      </li>
      <li (click)="toggleMenu(3)" [ngClass]="{'is-active': activeTab==3}">
        Create Division
      </li>
      <li (click)="toggleMenu(4)" [ngClass]="{'is-active': activeTab==4}">
        Create Sub-Division
      </li>
    </ul>
  </nav>
</div>
