<!-- USER MANAGEMENT PAGE -->

<!-- LEFT-NAVIGATION -->
<app-left-navigation [isOffcanvas]="isOffcanvas"></app-left-navigation>

<div class="page-container user-management-page" [class.is-offcanvas]="isOffcanvas['value']">

  <!-- HEADER -->
  <div class="header-wrapper">
    <app-header
      l10n-title title="userManagement.title"
      pageType="user-management"
    >
    </app-header>
  </div>
  <!-- MAIN -->
  <main class="main-content">
    <div class="user-management-wrapper">
      <app-user-management-table
        [datas]="results"
        (printing)="isOpenModal=$event;modalType='print'"
        (adding)="modalType='create-new-user';isOpenModal=$event;"
        (editing)="modalType='edit-user';setRowData($event);"
        (deleting)="modalType='delete-user-row';setRowData($event);"
        (getFilter)="getQueryResult($event)"
        [totalRows]="totalRows"
      ></app-user-management-table>
      <div class="pagination-wrapper">
        <app-pagination
          [totalPages]="totalPages"
          [activePage]="activePage"
          (goto)="setPage($event)"
          *ngIf="!isSearching"
        ></app-pagination>
      </div>
    </div>
  </main>

  <!-- FOOTER -->
  <app-footer></app-footer>

</div>
<app-model
  (close)="isOpenModal=$event"
  *ngIf="isOpenModal"
  [modalType]="modalType"
  [rowData]="rowData"
  (reload)="getResults()"></app-model>
<!-- KEYWORD SEARCH PAGE END -->
