@import "../../../assets/scss/base/_variables";

// DROPDOWN STYLES
.dropdown-wrapper {
  display: flex;
  border: 1px solid #a2a2a2;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  .box {
    display: flex;
    width: 100%;
  }

  // SELECTED
  .dropdown-selected {
    position: relative;
    padding: 10px 26px 6px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    color: $content-text-black;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      width: 9px;
      height: 6px;
      background: url('/assets/i/drop-down-black.svg');
      background-size: 9px 6px;
    }
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // DROPDOWN OPTIONS
  .dropdown-options {
    display: none;
    position: absolute;
    padding: 8px 6px 9px 5px;
    max-height: 261px;
    overflow-y: auto;
    z-index: 999;
    li {
      padding: 10px 25px 6px 13px;
      font-size: 13px;
      color: $content-text-black;
      border-bottom: 1px solid #dedede;
      position: relative;
      line-height: 16px;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: #268dc8;
        border-radius: 3px;
        color: #fff;
        border-bottom-color: transparent;
      }
      &.active{
        background-color: #268dc8;
        border-radius: 3px;
        color: #fff;
        border-bottom-color: transparent;
        &::after {
          content: "";
          position: absolute;
          top: calc(50% + 1px);
          transform: translateY(calc(-50% + 1px));
          right: 8px;
          width: 11px;
          height: 9px;
          background: url('/assets/i/tick-white.svg');
          background-size: 11px 9px;
        }
      }
      &:hover {
        background-color: rgba(38, 141, 200, 0.7);
      }
      &.active {
        font-weight: 600;
      }
    }
  }

  &.is-open {
    .dropdown-options {
      display: flex;
      flex-direction: column;
      width: calc(100% - 9px);
      top: -1px;
      left: -1px;
      border-radius: 3px;
      background-color: #ffffff;
      box-shadow: 0px 3px 11px 0 rgba(1, 2, 2, 0.14);
    }
  }

  // COUNTRY DROPDOWN
  &.country-dropdown {
    border: none;
    .dropdown-selected {
      color: #268dc8;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        width: 9px;
        height: 6px;
        background: url('/assets/i/drop-down-blue.svg');
        background-size: 9px 6px;
      }
    }
  }

  &.data-input-fields {
    .box {
      height: 35px;
    }
  }

  &.send-email-table-select {
    min-width: 140px;
    border: none;
  }
  &.send-email-table-select-auto {
    border: none;
  }

}
