<!-- SEARCH RESULT WRAPPER -->
<div class="search-result-wrapper">
  <!-- SEARCH TABLE TITLE -->
  <div class="search-table-title">
    <div class="search-result-title">
      <h4><span l10nTranslate>Top 3 Issues</span></h4>
      <!-- BLACK SQURE -->
      <span class="black-squre"
        *ngIf="showReadAll['unreadTopNumber'] > 0"
        l10nTranslate>
        {{showReadAll['unreadTopNumber']}} Unread
      </span>
      <span class="black-squre bg-gray"
        *ngIf="showReadAll['unreadTopNumber'] === 0"
        l10nTranslate>
        You Read All
      </span>
    </div>
    <div class="right-side-btn">
      <app-checkbox
        l10nTranslate
        label = "Show only Issues created by me"
        [isChecked]="showOnlyMe"
        (getChange)="checkShowOnlyMe($event)"
      ></app-checkbox>
      <div class="print-email-btn">
        <!-- PRINT BTN -->
        <a href="javascript:;" class="print-btn" (click)="print()">
          <span class="print-icon"></span>
          <span class="right-btn-txt" l10nTranslate>Printbtn</span>
        </a>
        <!-- EMAIL BTN -->
        <a routerLink="/send-email" class=" email-btn blue-btn">
          <span class="email-icon"></span>
          <span class="right-btn-txt" l10nTranslate>Email</span>
        </a>
      </div>
    </div>
  </div>
  <!-- SEARCH TABLE -->
  <div class="main-search-table">
    <div class="search-table">
      <table>
        <!-- THEAD -->
        <thead>
          <tr>
            <th class="th-check">
              <div class="th-chkbox">
                <app-checkbox
                  [isChecked]="isTopThChk"
                  value="new-full-name"
                  (getChange)="thTopToggleCheck($event)"
                  className="sm-checkbox"
                ></app-checkbox>
              </div>
            </th>
            <th class="th-index">
              <span l10nTranslate>Index</span>
            </th>
            <th class="th-created-by">
              <span l10nTranslate>Created By</span>
            </th>
            <th class="th-division">
              <span l10nTranslate>Division</span>
            </th>
            <th class="th-issue-description">
              <span l10nTranslate>Issue Description</span>
            </th>
            <th class="th-action-plan">
              <span l10nTranslate>Action Plan</span>
            </th>
            <th class="th-person-responsible">
              <span l10nTranslate>Person Responsible</span>
            </th>
            <th class="th-created-on">
              <span l10nTranslate>Created on</span>
            </th>
            <th class="th-priority">
              <span l10nTranslate>Priority</span>
            </th>
            <th class="th-details">
              <span l10nTranslate>Details</span>
            </th>
            <th class="th-action" *ngIf="showOnlyMe">
              <span l10nTranslate>Access</span>
            </th>
          </tr>
        </thead>
        <!-- TBODY -->
        <tbody>
          <tr
            *ngFor="let data of topDatas; let i = index;"
          >
            <td class="td-check">
              <app-checkbox
                [isChecked]="data.isChecked"
                value="new-full-name"
                (getChange)="checkboxsTop(i, $event)"
              ></app-checkbox>
            </td>
            <td class="td-index">
              <span class="index-content"
                [ngClass]="{'bg-circle': !data.read}">
                {{data.id}}
              </span>
            </td>
            <td class="th-created-by">
              <span class="bold-content">{{data.createdBy}}</span>
            </td>
            <td class="td-division">
              <span class="org-content">{{data.division.name}}</span>
            </td>
            <td class="td-issue-description">
              <p class="org-content">{{data.description}}</p>
            </td>
            <td class="td-action-plan">
              <span class="org-content">{{data.actionPlan}}</span>
            </td>
            <td class="td-person-responsible">
              <span class="bold-content">{{data.personsResponsible[0]}}</span>
            </td>
            <td class="td-created-on">
              <span class="org-content">{{data.createdDate}}</span>
            </td>
            <td class="td-priority">
              <span class="color-squre red"
                *ngIf="data.priority === 1">
                High
              </span>
              <span class="color-squre orange"
                *ngIf="data.priority === 2">
                Medium
              </span>
              <span class="color-squre green"
                *ngIf="data.priority === 3">
                Low
              </span>
            </td>
            <td class="td-details">
              <a href="javascript:;" class="blue-link" *ngIf="!showOnlyMe"
                [routerLink]="['/c-s-issues/detail/' + data.id + '/true']"
                l10nTranslate>
                View Details
              </a>
              <a href="javascript:;" class="blue-link" *ngIf="showOnlyMe"
                [routerLink]="['/c-s-issues/detail/' + data.id + '/true']"
                l10nTranslate>
                Details
              </a>
            </td>
            <td class="td-action" *ngIf="showOnlyMe">
              <div class="write-del-icons">
                <div class="more-boxs"
                  [class.is-open]="activeIndex===i"
                  (click)="$event.stopPropagation()">
                	<a href="javascript:;" class="btn-more"
                	  (click)="openMore(i, $event)">
                	</a>
                  <div class="access-tooltip-box">
                    <div class="email-title">
                      <h4 l10nTranslate>Access Options</h4>
                      <span class="close-icon" (click)="activeIndex=-1"></span>
                    </div>
                    <div class="access-box-content">
                      <a href="javascript:;" >
                        <span><i class="icons icon-plus"></i> <span l10nTranslate>Add Data</span></span>
                      </a>
                      <a href="javascript:;" >
                        <span> <i class="icons icon-edit"></i> <span l10nTranslate>Edit Data</span></span>
                      </a>
                      <a href="javascript:;" >
                        <span> <i class="icons icon-edit"></i> <span l10nTranslate>Modify Data</span></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- SEARCH RESULT WRAPPER -->
<div class="search-result-wrapper top-margin">
  <!-- SEARCH TABLE TITLE -->
  <div class="search-table-title">
    <div class="search-result-title">
      <h4><span l10nTranslate>All Issues</span> ({{totalRows}})</h4>
      <!-- BLACK SQURE -->
      <span class="black-squre"
        *ngIf="showReadAll['unreadNumber'] > 0"
        l10nTranslate>
        {{showReadAll['unreadNumber']}} Unread
      </span>
      <span class="black-squre bg-gray"
        *ngIf="showReadAll['unreadNumber'] === 0"
        l10nTranslate>
        You Read All
      </span>
    </div>
  </div>
  <!-- SEARCH TABLE -->
  <div class="main-search-table">
    <div class="search-table">
      <table>
        <!-- THEAD -->
        <thead class="bg-gray">
          <tr>
            <th class="th-check">
              <div class="th-chkbox">
                <app-checkbox
                  [isChecked]="isThChk"
                  value="new-full-name"
                  (getChange)="thToggleCheck($event)"
                  className="sm-checkbox"
                ></app-checkbox>
              </div>
            </th>
            <th class="th-index">
              <span l10nTranslate>Index</span>
            </th>
            <th class="th-created-by">
              <span l10nTranslate>Created By</span>
            </th>
            <th class="th-division">
              <span l10nTranslate>Division</span>
            </th>
            <th class="th-issue-description">
              <span l10nTranslate>Issue Description</span>
            </th>
            <th class="th-action-plan">
              <span l10nTranslate>Action Plan</span>
            </th>
            <th class="th-person-responsible">
              <span l10nTranslate>Person Responsible</span>
            </th>
            <th class="th-created-on">
              <span l10nTranslate>Created on</span>
            </th>
            <th class="th-priority">
              <span l10nTranslate>Priority</span>
            </th>
            <th class="th-details">
              <span l10nTranslate>Details</span>
            </th>
            <th class="th-action" *ngIf="showOnlyMe">
              <span l10nTranslate>Access</span>
            </th>
          </tr>
        </thead>
        <!-- TBODY -->
        <tbody>
          <tr
            *ngFor="let data of datas; let i = index;"
          >
            <td class="td-check">
              <app-checkbox
                [isChecked]="data.isChecked"
                value="new-full-name"
                (getChange)="checkboxs(i, $event)"
              ></app-checkbox>
            </td>
            <td class="td-index">
              <span class="index-content"
                [ngClass]="{'bg-circle': !data.read}">
                {{data.id}}
              </span>
            </td>
            <td class="th-created-by">
              <span class="bold-content">{{data.createdBy}}</span>
            </td>
            <td class="td-division">
              <span class="org-content">{{data.division.name}}</span>
            </td>
            <td class="td-issue-description">
              <p class="org-content">{{data.description}}</p>
            </td>
            <td class="td-action-plan">
              <span class="org-content">{{data.actionPlan}}</span>
            </td>
            <td class="td-person-responsible">
              <span class="bold-content">{{data.personsResponsible[0]}}</span>
            </td>
            <td class="td-created-on">
              <span class="org-content">{{data.createdDate}}</span>
            </td>
            <td class="td-priority">
              <span class="color-squre red"
                *ngIf="data.priority === 1">
                High
              </span>
              <span class="color-squre orange"
                *ngIf="data.priority === 2">
                Medium
              </span>
              <span class="color-squre green"
                *ngIf="data.priority === 3">
                Low
              </span>
            </td>
            <td class="td-details">
              <a href="javascript:;" class="blue-link" *ngIf="!showOnlyMe"
                [routerLink]="['/c-s-issues/detail/' + data.id + '/false']"
                l10nTranslate>
                View Details
              </a>
              <a href="javascript:;" class="blue-link" *ngIf="showOnlyMe"
                [routerLink]="['/c-s-issues/detail/' + data.id + '/false']"
                l10nTranslate>
                Details
              </a>
            </td>
            <td class="td-action" *ngIf="showOnlyMe">
              <div class="write-del-icons">
                <div class="more-boxs"
                  [class.is-open]="activeIndex=== (i + 1000)"
                  (click)="$event.stopPropagation()">
                	<a href="javascript:;" class="btn-more"
                	  (click)="openMore(i + 1000, $event)">
                	</a>
                  <div class="access-tooltip-box">
                    <div class="email-title">
                      <h4 l10nTranslate>Access Options</h4>
                      <span class="close-icon" (click)="activeIndex=-1"></span>
                    </div>
                    <div class="access-box-content">
                      <a href="javascript:;" >
                        <span><i class="icons icon-plus"></i> <span l10nTranslate>Add Data</span></span>
                      </a>
                      <a href="javascript:;" >
                        <span> <i class="icons icon-edit"></i> <span l10nTranslate>Edit Data</span></span>
                      </a>
                      <a href="javascript:;" >
                        <span> <i class="icons icon-edit"></i> <span l10nTranslate>Modify Data</span></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
