<!-- CHANGE REQUESTS PAGE -->

<!-- LEFT-NAVIGATION -->
<app-left-navigation [isOffcanvas]="isOffcanvas"></app-left-navigation>

<div class="page-container change-requests-page" [class.is-offcanvas]="isOffcanvas['value']">

  <!-- HEADER -->
  <div class="header-wrapper">
    <app-header
      l10n-title title="changeRequests.title"
      pageType="change-requests">
    </app-header>
  </div>
  <!-- MAIN -->
  <main class="main-content">
    <div class="change-requests-wrapper">
      <app-change-requests-table
        [datas]="results"
        (printing)="isOpenModal=$event;modalType='print'"
        (getFilter)="getQueryResult($event)"
        [totalRows]="totalRows"
      ></app-change-requests-table>
      <div class="pagination-wrapper">
        <app-pagination
          [totalPages]="totalPages"
          [activePage]="activePage"
          (goto)="setPage($event)"
          *ngIf="!isSearching"
        ></app-pagination>
      </div>
    </div>
  </main>

  <!-- FOOTER -->
  <app-footer></app-footer>

</div>
<app-model
  (close)="isOpenModal=$event"
  *ngIf="isOpenModal"
  [modalType]="modalType"></app-model>
<!-- KEYWORD SEARCH PAGE END -->
