<!-- SEND EMAIL WRAPPER  -->
<div class="input-tag-wrapper {{className}}">
  <!-- Input Tag -->
  <div class="input-box">
    <span class="tag-text">contactacme@thor.com
      <span class="close-icon"></span>
    </span>
    <input type="text" class="tag-input">
  </div>
</div>
<!-- SEND EMAIL WRAPPER END  -->
