<!-- FOOTER -->
<footer class="footer">
  <div class="footer-inner">
    <p>Terms &amp; conditions | Privacy policy | Copyrights</p>
    <p>&copy; 2018 Thor Company. All rights reserved.</p>
  </div>
</footer>
<!-- FOOTER END -->
